root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 160
tab_width = 2
ij_java_imports_layout = life.catalogue.**,|,org.gbif.**,|,java.**,|,javax.**,|,org.**,|,com.**,|,*,|,$*

# text tree files
[*.tree]
indent_style = space
indent_size = 2

[*.tsv]
indent_style = tab
tab_width = 8

[pom.xml]
indent_style = space
tab_width = 4
