**/*.iml
**/target
**/.idea
**/java-xjc/
**/.surefire-*
**/neodb.dot
**/__pycache__

api/latin29.txt
dao/127.0.0.1/
dao/dataset/
core/dataset/
importer/graphs/
webservice/dataset/
webservice/localhost/
webservice/config-*.yaml
webservice/**/ManualLiveDebugging.java

**/.DS_Store
**/.project
**/.classpath
**/.settings/
**/bin/

/webservice/src/main/resources/logback.xml
