**/*.iml
**/target
**/.idea
**/java-xjc/

dao/127.0.0.1/
dao/dataset/
webservice/graphs/
webservice/localhost/
webservice/config-*.yaml
webservice/**/ManualLiveDebugging.java

**/.DS_Store
**/.project
**/.classpath
**/.settings/
**/bin/

/webservice/src/main/resources/logback.xml
