<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.DatasetPartitionMapper">

    <update id="create" parameterType="map">
        CREATE TABLE verbatim_${key} (LIKE verbatim INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE reference_${key} (LIKE reference INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE name_rel_${key} (LIKE name_rel INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE taxon_${key} (LIKE taxon INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE synonym_${key} (LIKE synonym INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE taxon_reference_${key} (LIKE taxon_reference INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE distribution_${key} (LIKE distribution INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE distribution_reference_${key} (LIKE distribution_reference INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE vernacular_name_${key} (LIKE vernacular_name INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
        CREATE TABLE vernacular_name_reference_${key} (LIKE vernacular_name_reference INCLUDING DEFAULTS INCLUDING CONSTRAINTS);
    </update>

    <update id="attach" parameterType="map">
        ALTER TABLE verbatim ATTACH PARTITION verbatim_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE reference ATTACH PARTITION reference_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE name_rel ATTACH PARTITION name_rel_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE taxon ATTACH PARTITION taxon_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE synonym ATTACH PARTITION synonym_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE taxon_reference ATTACH PARTITION taxon_reference_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE distribution ATTACH PARTITION distribution_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE distribution_reference ATTACH PARTITION distribution_reference_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE vernacular_name ATTACH PARTITION vernacular_name_${key} FOR VALUES IN ( ${key} );
        ALTER TABLE vernacular_name_reference ATTACH PARTITION vernacular_name_reference_${key} FOR VALUES IN ( ${key} );
    </update>

    <update id="buildIndices" parameterType="map">
        ALTER TABLE verbatim_${key} ADD PRIMARY KEY (key);
        CREATE index ON verbatim_${key} USING GIN(issues);

        ALTER TABLE name_rel_${key} ADD PRIMARY KEY (key);
        CREATE index ON name_rel_${key} (name_key, type);
        CREATE index ON name_rel_${key} (verbatim_key);

        ALTER TABLE taxon_${key} ADD PRIMARY KEY (key);
        CREATE UNIQUE index ON taxon_${key} (id);
        CREATE index ON taxon_${key} (parent_key);
        CREATE index ON taxon_${key} (name_key);
        CREATE index ON taxon_${key} (verbatim_key);

        CREATE index ON synonym_${key} (taxon_key);
        CREATE index ON synonym_${key} (name_key);
        CREATE index ON synonym_${key} (verbatim_key);

        ALTER TABLE reference_${key} ADD PRIMARY KEY (key);
        CREATE UNIQUE index ON reference_${key} (id);
        CREATE index ON reference_${key} (verbatim_key);

        ALTER TABLE distribution_${key} ADD PRIMARY KEY (key);
        CREATE index ON distribution_${key} (taxon_key);
        CREATE index ON distribution_${key} (verbatim_key);

        ALTER TABLE vernacular_name_${key} ADD PRIMARY KEY (key);
        CREATE index ON vernacular_name_${key} (taxon_key);
        CREATE index ON vernacular_name_${key} (verbatim_key);
    </update>

    <update id="delete" parameterType="map">
        DROP TABLE IF EXISTS verbatim_${key};
        DROP TABLE IF EXISTS reference_${key};
        DROP TABLE IF EXISTS name_rel_${key};
        DROP TABLE IF EXISTS taxon_${key};
        DROP TABLE IF EXISTS synonym_${key};
        DROP TABLE IF EXISTS taxon_reference_${key};
        DROP TABLE IF EXISTS distribution_${key};
        DROP TABLE IF EXISTS distribution_reference_${key};
        DROP TABLE IF EXISTS vernacular_name_${key};
        DROP TABLE IF EXISTS vernacular_name_reference_${key};
    </update>

    <delete id="truncateDatasetData" parameterType="map">
        DELETE FROM name WHERE dataset_key = #{key}
    </delete>

</mapper>
