<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.DatasetImportMapper">

    <sql id="SELECT">
      dataset_key,
      attempt,
      state,
      error,
      md5,
      started,
      finished,
      download_uri,
      download,
      verbatim_count,
      name_count,
      taxon_count,
      reference_count,
      vernacular_count,
      distribution_count,
      issues_count,
      names_by_rank_count,
      taxa_by_rank_count,
      names_by_type_count,
      vernaculars_by_language_count,
      distributions_by_gazetteer_count,
      names_by_origin_count,
      usages_by_status_count,
      names_by_status_count,
      name_relations_by_type_count,
      verbatim_by_type_count
    </sql>

    <sql id="COLS">
      dataset_key,
      state,
      error,
      md5,
      started,
      finished,
      download_uri,
      download,
      verbatim_count,
      name_count,
      taxon_count,
      reference_count,
      vernacular_count,
      distribution_count,
      issues_count,
      names_by_rank_count,
      taxa_by_rank_count,
      names_by_type_count,
      vernaculars_by_language_count,
      distributions_by_gazetteer_count,
      names_by_origin_count,
      usages_by_status_count,
      names_by_status_count,
      name_relations_by_type_count,
      verbatim_by_type_count,
      text_tree,
      names
    </sql>

    <sql id="PROPS">
      #{di.datasetKey},
      #{di.state},
      #{di.error},
      #{di.md5},
      #{di.started},
      #{di.finished},
      #{di.downloadUri},
      #{di.download},
      #{di.verbatimCount},
      #{di.nameCount},
      #{di.taxonCount},
      #{di.referenceCount},
      #{di.vernacularCount},
      #{di.distributionCount},
      #{di.issuesCount, typeHandler=org.col.db.type2.HstoreIssueCountTypeHandler}::hstore,
      #{di.namesByRankCount, typeHandler=org.col.db.type2.HstoreRankCountTypeHandler}::hstore,
      #{di.taxaByRankCount, typeHandler=org.col.db.type2.HstoreRankCountTypeHandler}::hstore,
      #{di.namesByTypeCount, typeHandler=org.col.db.type2.HstoreNameTypeCountTypeHandler}::hstore,
      #{di.vernacularsByLanguageCount, typeHandler=org.col.db.type2.HstoreLanguageCountTypeHandler}::hstore,
      #{di.distributionsByGazetteerCount, typeHandler=org.col.db.type2.HstoreGazetteerCountTypeHandler}::hstore,
      #{di.namesByOriginCount, typeHandler=org.col.db.type2.HstoreOriginCountTypeHandler}::hstore,
      #{di.usagesByStatusCount, typeHandler=org.col.db.type2.HstoreTaxStatusCountTypeHandler}::hstore,
      #{di.namesByStatusCount, typeHandler=org.col.db.type2.HstoreNomStatusCountTypeHandler}::hstore,
      #{di.nameRelationsByTypeCount, typeHandler=org.col.db.type2.HstoreNameRelCountTypeHandler}::hstore,
      #{di.verbatimByTypeCount, typeHandler=org.col.db.type2.HstoreTermCountTypeHandler}::hstore,
      #{di.textTree},
      #{di.names}
    </sql>

    <sql id="FROM">
      dataset_import
    </sql>

    <sql id="WHERE">
        <where>
            <if test="key != null">
                dataset_key = #{key}
            </if>
            <if test="states != null &amp;&amp; !states.isEmpty()">
                AND state IN
                <foreach item="state" index="idx" collection="states" open="(" separator="," close=")">
                    #{state}
                </foreach>
            </if>
        </where>
    </sql>

    <!--  A mapping to Name, mostly auto mapped -->
    <resultMap id="datasetImportResultMap" type="DatasetImport" autoMapping="true">
        <result property="issuesCount" column="issues_count" typeHandler="org.col.db.type2.HstoreIssueCountTypeHandler"/>
        <result property="namesByRankCount" column="names_by_rank_count" typeHandler="org.col.db.type2.HstoreRankCountTypeHandler"/>
        <result property="taxaByRankCount" column="taxa_by_rank_count" typeHandler="org.col.db.type2.HstoreRankCountTypeHandler"/>
        <result property="namesByTypeCount" column="names_by_type_count" typeHandler="org.col.db.type2.HstoreNameTypeCountTypeHandler"/>
        <result property="vernacularsByLanguageCount" column="vernaculars_by_language_count" typeHandler="org.col.db.type2.HstoreLanguageCountTypeHandler"/>
        <result property="distributionsByGazetteerCount" column="distributions_by_gazetteer_count" typeHandler="org.col.db.type2.HstoreGazetteerCountTypeHandler"/>
        <result property="namesByOriginCount" column="names_by_origin_count" typeHandler="org.col.db.type2.HstoreOriginCountTypeHandler"/>
        <result property="usagesByStatusCount" column="usages_by_status_count" typeHandler="org.col.db.type2.HstoreTaxStatusCountTypeHandler"/>
        <result property="namesByStatusCount" column="names_by_status_count" typeHandler="org.col.db.type2.HstoreNomStatusCountTypeHandler"/>
        <result property="nameRelationsByTypeCount" column="name_relations_by_type_count" typeHandler="org.col.db.type2.HstoreNameRelCountTypeHandler"/>
        <result property="verbatimByTypeCount" column="verbatim_by_type_count" typeHandler="org.col.db.type2.HstoreTermCountTypeHandler"/>
    </resultMap>

    <select id="get" resultMap="datasetImportResultMap">
        SELECT <include refid="SELECT" />, text_tree, names
        FROM <include refid="FROM" />
        WHERE dataset_key=#{key} AND attempt=#{attempt}
    </select>

    <select id="count" resultType="integer">
        SELECT count(*)
        FROM <include refid="FROM" />
        <include refid="WHERE" />
    </select>

    <select id="list" resultMap="datasetImportResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        <include refid="WHERE" />
        ORDER BY started DESC, attempt DESC
        <include refid="org.col.db.mapper.Common.limit" />
    </select>


    <select id="countDescription" resultType="integer">
        SELECT count(*) FROM description_${key}
    </select>
    <select id="countDistribution" resultType="integer">
        SELECT count(*) FROM distribution_${key}
    </select>
    <select id="countMedia" resultType="integer">
        SELECT count(*) FROM media_${key}
    </select>
    <select id="countName" resultType="integer">
        SELECT count(*) FROM name_${key}
    </select>
    <select id="countReference" resultType="integer">
        SELECT count(*) FROM reference_${key}
    </select>
    <select id="countTaxon" resultType="integer">
        SELECT count(*) FROM taxon_${key}
    </select>
    <select id="countVerbatim" resultType="integer">
        SELECT count(*) FROM verbatim_${key}
    </select>
    <select id="countVernacular" resultType="integer">
        SELECT count(*) FROM vernacular_name_${key}
    </select>

    <select id="countDistributionsByGazetteer" resultType="IntCount">
      SELECT gazetteer AS key, count(*) AS count
      FROM distribution_${key}
      GROUP BY gazetteer
    </select>
    <select id="countIssues" resultType="IntCount">
        SELECT iss AS key, count(*) AS count FROM (
         SELECT unnest(issues) iss from verbatim_${key}
        ) AS dis
        GROUP BY iss
    </select>
    <select id="countMediaByType" resultType="IntCount">
        SELECT type AS key, count(*) AS count
        FROM media_${key}
        GROUP BY type
    </select>
    <select id="countNamesByType" resultType="IntCount">
        SELECT type AS key, count(*) AS count
        FROM name_${key}
        GROUP BY type
    </select>
    <select id="countNameRelationsByType" resultType="IntCount">
        SELECT type AS key, count(*) AS count
        FROM name_rel_${key}
        GROUP BY type
    </select>
    <select id="countNamesByStatus" resultType="IntCount">
        SELECT nom_status AS key, count(*) AS count
        FROM name_${key}
        GROUP BY nom_status
    </select>
    <select id="countNamesByOrigin" resultType="IntCount">
        SELECT origin AS key, count(*) AS count
        FROM name_${key}
        GROUP BY origin
    </select>
    <select id="countNamesByRank" resultType="StringCount">
        SELECT rank AS key, count(*) AS count
        FROM name_${key}
        GROUP BY rank
    </select>
    <select id="countTaxaByRank" resultType="StringCount">
        SELECT n.rank AS key, count(*) AS count
        FROM taxon_${key} t JOIN name_${key} n ON t.name_id=n.id
        GROUP BY n.rank
    </select>
    <select id="countUsagesByStatus" resultType="IntCount">
        SELECT CASE WHEN provisional THEN 1 ELSE 0 END AS key, count(*) AS count
        FROM taxon_${key}
        GROUP BY provisional
        UNION
        SELECT status AS key, count(*) AS count
        FROM synonym_${key}
        GROUP BY status
    </select>
    <select id="countVerbatimByType" resultType="StringCount">
        SELECT type AS key, count(*) AS count
        FROM verbatim_${key}
        GROUP BY type
    </select>
    <select id="countVernacularsByLanguage" resultType="StringCount">
        SELECT language AS key, count(*) AS count
        FROM vernacular_name_${key}
        GROUP BY language
    </select>

    <insert id="create" parameterType="DatasetImport">
        <selectKey keyProperty="di.attempt" resultType="integer" order="BEFORE" >
            SELECT coalesce(max(attempt)+1, 1)
            FROM dataset_import
            WHERE dataset_key=#{di.datasetKey}
        </selectKey>
        INSERT INTO dataset_import (<include refid="COLS" />, attempt)
          VALUES (<include refid="PROPS" />, #{di.attempt})
    </insert>

    <update id="update" parameterType="DatasetImport">
        UPDATE dataset_import
        SET (<include refid="COLS" />) = (<include refid="PROPS" />)
        WHERE dataset_key=#{di.datasetKey} AND attempt=#{di.attempt}
    </update>

</mapper>
