<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.DatasetPartitionMapper">

    <update id="create" parameterType="map">
        CREATE TABLE verbatim_${key} PARTITION OF verbatim FOR VALUES IN ( ${key} );
        CREATE TABLE reference_${key} PARTITION OF reference FOR VALUES IN ( ${key} );
        CREATE TABLE name_rel_${key} PARTITION OF name_rel FOR VALUES IN ( ${key} );
        CREATE TABLE taxon_${key} PARTITION OF taxon FOR VALUES IN ( ${key} );
        CREATE TABLE synonym_${key} PARTITION OF synonym FOR VALUES IN ( ${key} );
        CREATE TABLE taxon_reference_${key} PARTITION OF taxon_reference FOR VALUES IN ( ${key} );
        CREATE TABLE distribution_${key} PARTITION OF distribution FOR VALUES IN ( ${key} );
        CREATE TABLE distribution_reference_${key} PARTITION OF distribution_reference FOR VALUES IN ( ${key} );
        CREATE TABLE vernacular_name_${key} PARTITION OF vernacular_name FOR VALUES IN ( ${key} );
        CREATE TABLE vernacular_name_reference_${key} PARTITION OF vernacular_name_reference FOR VALUES IN ( ${key} );
    </update>

    <update id="buildIndices" parameterType="map">
        ALTER TABLE verbatim_${key} ADD PRIMARY KEY (key);
        CREATE index ON verbatim_${key} USING GIN(issues);

        ALTER TABLE name_rel_${key} ADD PRIMARY KEY (key);
        CREATE index ON name_rel_${key} (name_key, type);
        CREATE index ON name_rel_${key} (verbatim_key);

        ALTER TABLE taxon_${key} ADD PRIMARY KEY (key);
        CREATE UNIQUE index ON taxon_${key} (id);
        CREATE index ON taxon_${key} (parent_key);
        CREATE index ON taxon_${key} (name_key);
        CREATE index ON taxon_${key} (verbatim_key);

        CREATE index ON synonym_${key} (taxon_key);
        CREATE index ON synonym_${key} (name_key);
        CREATE index ON synonym_${key} (verbatim_key);

        ALTER TABLE reference_${key} ADD PRIMARY KEY (key);
        CREATE UNIQUE index ON reference_${key} (id);
        CREATE index ON reference_${key} (verbatim_key);

        ALTER TABLE distribution_${key} ADD PRIMARY KEY (key);
        CREATE index ON distribution_${key} (taxon_key);
        CREATE index ON distribution_${key} (verbatim_key);

        ALTER TABLE vernacular_name_${key} ADD PRIMARY KEY (key);
        CREATE index ON vernacular_name_${key} (taxon_key);
        CREATE index ON vernacular_name_${key} (verbatim_key);
    </update>

    <update id="delete" parameterType="map">
        DROP TABLE IF EXISTS verbatim_${key};
        DROP TABLE IF EXISTS reference_${key};
        DROP TABLE IF EXISTS name_rel_${key};
        DROP TABLE IF EXISTS taxon_${key};
        DROP TABLE IF EXISTS synonym_${key};
        DROP TABLE IF EXISTS taxon_reference_${key};
        DROP TABLE IF EXISTS distribution_${key};
        DROP TABLE IF EXISTS distribution_reference_${key};
        DROP TABLE IF EXISTS vernacular_name_${key};
        DROP TABLE IF EXISTS vernacular_name_reference_${key};
    </update>

    <delete id="truncateDatasetData" parameterType="map">
        DELETE FROM name WHERE dataset_key = #{key}
    </delete>

</mapper>
