<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.DatasetMapper">

    <sql id="SELECT">
      key,
      alias,
      title,
      gbif_key,
      description,
      group_name,
      authors_and_editors,
      organisation,
      contact_person,
      version,
      release_date,
      taxonomic_coverage,
      coverage,
      completeness,
      confidence,
      homepage,
      data_format,
      data_access,
      notes,
      created,
      modified,
      deleted
    </sql>

    <sql id="COLS">
      alias,
      title,
      gbif_key,
      description,
      group_name,
      authors_and_editors,
      organisation,
      contact_person,
      version,
      release_date,
      taxonomic_coverage,
      coverage,
      completeness,
      confidence,
      homepage,
      data_format,
      data_access,
      notes
    </sql>

    <sql id="PROPS">
      #{alias},
      #{title},
      #{gbifKey},
      #{description},
      #{groupName},
      #{authorsAndEditors},
      #{organisation},
      #{contactPerson},
      #{version},
      #{releaseDate},
      #{taxonomicCoverage},
      #{coverage},
      #{completeness},
      #{confidence},
      #{homepage},
      #{dataFormat},
      #{dataAccess},
      #{notes}
    </sql>

    <sql id="FROM">
        dataset d
    </sql>

    <!--  A mapping to Name, mostly auto mapped -->
    <resultMap id="datasetResultMap" type="Dataset" autoMapping="true">
        <id property="key" column="key" />
    </resultMap>

    <select id="count" parameterType="map" resultType="Integer">
        SELECT count(*)
        FROM <include refid="FROM" />
    </select>

    <select id="list" parameterType="map" resultMap="datasetResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit"/>
    </select>

    <select id="get" parameterType="map" resultMap="datasetResultMap">
      SELECT <include refid="SELECT" />
      FROM <include refid="FROM" />
      WHERE key = #{key}
    </select>

    <insert id="create" parameterType="Dataset" useGeneratedKeys="true" keyProperty="key">
      INSERT INTO dataset (<include refid="COLS" />, created)
             VALUES (<include refid="PROPS" />, now())
    </insert>

    <update id="udpate" parameterType="Dataset">
        UPDATE dataset (<include refid="COLS" />, modified)
        VALUES (<include refid="PROPS" />, now())
        WHERE key = #{key}
    </update>

    <update id="delete" parameterType="map">
        UPDATE dataset SET deleted = now()
        WHERE key = #{key}
    </update>
</mapper>
