<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.NameActMapper">

  <sql id="SELECT">
    na.key,
    na.dataset_key,
    na.type,
    na.name_key,
    na.related_name_key,
    na.note
  </sql>

  <sql id="COLS">
    dataset_key,
    type,
    name_key,
    related_name_key,
    note
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{type},
    #{nameKey},
    #{relatedNameKey},
    #{note}
  </sql>

  <sql id="FROM">
    name_act na
  </sql>

  <resultMap id="nameActResultMap" type="NameAct" autoMapping="true">
    <id property="key" column="key" />
  </resultMap>

  <select id="list" resultMap="nameActResultMap">
    SELECT <include refid="SELECT" />
    FROM name_act na
    WHERE na.name_key = #{nameKey}
      OR na.related_name_key = #{nameKey}
    ORDER BY na.key
  </select>

  <insert id="create" parameterType="NameAct" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO name_act ( <include refid="COLS" /> )
    VALUES ( <include refid="PROPS" /> )
  </insert>

</mapper>
