<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.NameRelationMapper">

  <sql id="SELECT">
    nr.id,
    nr.verbatim_key,
    nr.dataset_key,
    nr.type,
    nr.name_id,
    nr.related_name_id,
    nr.published_in_id,
    nr.note,
    nr.created,
    nr.created_by,
    nr.modified,
    nr.modified_by
  </sql>

  <sql id="COLS">
    verbatim_key,
    dataset_key,
    type,
    name_id,
    related_name_id,
    published_in_id,
    note,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{verbatimKey},
    #{datasetKey},
    #{type}::NOMRELTYPE,
    #{nameId},
    #{relatedNameId},
    #{publishedInId},
    #{note},
    #{createdBy},
    #{modifiedBy}
  </sql>

  <sql id="FROM">
    name_rel_${partition} nr
  </sql>

  <resultMap id="nameRelResultMap" type="NameRelation" autoMapping="true">
    <id property="id" column="id" />
  </resultMap>

  <select id="list" resultMap="nameRelResultMap">
    <include refid="org.col.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM"/>
    WHERE nr.name_id = #{nameId} OR nr.related_name_id = #{nameId}
    ORDER BY nr.id
  </select>

  <select id="processDataset" parameterType="map" resultMap="nameRelResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    <include refid="org.col.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
  </select>

  <select id="listByType" resultMap="nameRelResultMap">
    <include refid="org.col.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT" />
    FROM name_rel_${partition} nr
    WHERE nr.dataset_key = #{datasetKey}
      AND nr.type=#{type}::NOMRELTYPE
      AND nr.name_id = #{nameId}
    ORDER BY nr.id
  </select>

  <insert id="create" parameterType="NameRelation" useGeneratedKeys="true" keyProperty="id">
    <include refid="org.col.db.Common.partitionByDatasetKey"/>
    INSERT INTO name_rel_${partition} ( <include refid="COLS" />, created, modified )
    VALUES ( <include refid="PROPS" />, now(), now() )
  </insert>

</mapper>
