<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.NameRelationMapper">

  <sql id="SELECT">
    nr.key,
    nr.verbatim_key,
    nr.dataset_key,
    nr.type,
    nr.name_key,
    nr.related_name_key,
    nr.published_in_key,
    nr.note
  </sql>

  <sql id="COLS">
    verbatim_key,
    dataset_key,
    type,
    name_key,
    related_name_key,
    published_in_key,
    note
  </sql>

  <sql id="PROPS">
    #{verbatimKey},
    #{datasetKey},
    #{type},
    #{nameKey},
    #{relatedNameKey},
    #{publishedInKey},
    #{note}
  </sql>

  <sql id="FROM">
    name_rel nr
  </sql>

  <resultMap id="nameRelResultMap" type="NameRelation" autoMapping="true">
    <id property="key" column="key" />
  </resultMap>

  <select id="list" resultMap="nameRelResultMap">
    SELECT <include refid="SELECT" />
    FROM name_rel nr
    WHERE nr.dataset_key = #{datasetKey}
      AND (nr.name_key = #{nameKey} OR nr.related_name_key = #{nameKey})
    ORDER BY nr.key
  </select>

  <select id="listByType" resultMap="nameRelResultMap">
    SELECT <include refid="SELECT" />
    FROM name_rel nr
    WHERE nr.dataset_key = #{datasetKey}
      AND nr.type=#{type}
      AND nr.name_key = #{nameKey}
    ORDER BY nr.key
  </select>

  <insert id="create" parameterType="NameRelation" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO name_rel_${datasetKey} ( <include refid="COLS" /> )
    VALUES ( <include refid="PROPS" /> )
  </insert>

</mapper>
