<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.NameMapper">

    <sql id="SELECT">
        n.key,
        n.id,
        n.dataset_key,
        n.scientific_name,
        n.rank,
        n.genus,
        n.infrageneric_epithet,
        n.specific_epithet,
        n.infraspecific_epithet,
        n.notho,
        n.basionym_authors,
        n.basionym_year,
        n.combination_authors,
        n.combination_year,
        n.nomenclatural_code,
        n.status,
        n.origin,
        n.type,
        n.fossil,
        n.basionym_key,
        bn.id AS basionym_id,
        n.remarks,
        n.etymology,
        n.issues
    </sql>

    <sql id="COLS">
      id,
      dataset_key,
      scientific_name,
      rank,
      genus,
      infrageneric_epithet,
      specific_epithet,
      infraspecific_epithet,
      notho,
      basionym_authors,
      basionym_year,
      combination_authors,
      combination_year,
      nomenclatural_code,
      status,
      origin,
      type,
      fossil,
      basionym_key,
      remarks,
      etymology,
      issues
    </sql>

    <sql id="PROPS">
      #{id},
      #{dataset.key},
      #{scientificName},
      #{rank}::rank,
      #{genus},
      #{infragenericEpithet},
      #{specificEpithet},
      #{infraspecificEpithet},
      #{notho},
      #{authorship.basionymAuthors, typeHandler=org.col.db.type.StringArrayTypeHandler},
      #{authorship.basionymYear},
      #{authorship.combinationAuthors, typeHandler=org.col.db.type.StringArrayTypeHandler},
      #{authorship.combinationYear},
      #{nomenclaturalCode},
      #{status},
      #{origin},
      #{type},
      #{fossil},
      #{basionym.key},
      #{remarks},
      #{etymology},
      #{issues, typeHandler=org.col.db.type.HstoreIssueHandler}::hstore
    </sql>

    <sql id="FROM">
        name n LEFT JOIN name bn ON n.basionym_key=bn.key
    </sql>

    <!--  A mapping to Name, mostly auto mapped -->
    <resultMap id="nameResultMap" type="Name" autoMapping="true">
        <id property="key" column="key" />
        <result property="id" column="id"/>
        <result property="issues" column="issues" typeHandler="org.col.db.type.HstoreIssueHandler"/>
        <association property="authorship" javaType="Authorship">
            <result property="combinationAuthors" column="combination_authors" typeHandler="org.col.db.type.StringArrayTypeHandler"/>
            <result property="combinationYear" column="combination_year"/>
            <result property="basionymAuthors" column="basionym_authors" typeHandler="org.col.db.type.StringArrayTypeHandler"/>
            <result property="basionymYear" column="basionym_year"/>
        </association>
        <association property="dataset" javaType="Dataset">
            <id property="key" column="dataset_key"/>
        </association>
        <association property="basionym" javaType="Name">
            <id property="key" column="basionym_key"/>
            <result property="id" column="basionym_id"/>
        </association>
    </resultMap>



    <select id="lookupKey" resultType="Integer">
        SELECT key
        FROM name
        WHERE dataset_key = #{datasetKey} AND id = #{id}
    </select>

    <select id="count" parameterType="map" resultType="Integer">
        SELECT count(*)
        FROM name
        WHERE dataset_key = #{datasetKey}
    </select>

    <select id="list" parameterType="map" resultMap="nameResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE n.dataset_key = #{datasetKey}
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit"/>
    </select>

    <select id="get" resultMap="nameResultMap">
          SELECT <include refid="SELECT" />
          FROM <include refid="FROM" /> WHERE n.key = #{key}
    </select>

    <insert id="create" parameterType="Name" useGeneratedKeys="true" keyProperty="key">
        INSERT INTO name (<include refid="COLS" />)
        VALUES (<include refid="PROPS" />)
    </insert>

    <select id="basionymGroup" resultMap="nameResultMap">
        SELECT <include refid="SELECT" />
        FROM name ns
          JOIN name bn ON ns.basionym_key=bn.key
          JOIN name n ON (n.basionym_key=bn.key OR n.key=bn.key)
        WHERE ns.key = #{key}
    </select>

    <insert id="addSynonym" parameterType="map">
        INSERT INTO synonyms (dataset_key, taxon_key, name_key)
        VALUES (#{datasetKey}, #{key}, #{nameKey})
    </insert>

    <select id="synonyms" resultMap="nameResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        JOIN synonyms s ON s.name_key=n.key
        WHERE s.taxon_key = #{key}
        ORDER BY COALESCE(n.basionym_key, n.key)
    </select>
</mapper>
