<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.ReferenceMapper">

    <sql id="SELECT">
        r.key,
        r.id,
        r.dataset_key,
        r.verbatim_key,
        r.csl,
        r.citation,
        r.year
    </sql>

    <sql id="COLS">
        id,
        dataset_key,
        verbatim_key,
        csl,
        citation,
        year
    </sql>

    <sql id="PROPS">
        #{id},
        #{datasetKey},
        #{verbatimKey},
        #{csl, typeHandler=org.col.db.type.CslJsonHandler}::jsonb,
        #{citation},
        #{year}
    </sql>

    <sql id="FROM">
        reference r
    </sql>

    <!-- A mapping to Reference, mostly auto mapped -->
    <resultMap id="referenceResultMap" type="Reference" autoMapping="true">
        <id property="key" column="key" />
        <result property="year" column="year" />
        <result property="csl" column="csl" typeHandler="org.col.db.type.CslJsonHandler" />
    </resultMap>

    <select id="count" resultType="integer">
        SELECT count(*)
        FROM reference
        WHERE dataset_key = #{datasetKey}
    </select>

    <select id="list" resultMap="referenceResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE r.dataset_key = #{datasetKey}
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="listByKeys" resultMap="referenceResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE r.dataset_key = #{datasetKey} AND key IN
        <foreach item="k" index="idx" collection="keys"
                 open="(" separator="," close=")">
            #{k}
        </foreach>
    </select>

    <select id="lookupKey" resultType="integer">
        SELECT key
        FROM reference
        WHERE id = #{id} AND dataset_key = #{datasetKey}
    </select>

    <select id="get" resultMap="referenceResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE r.key = #{key} AND r.dataset_key = #{datasetKey}
    </select>

    <insert id="create" parameterType="Reference" useGeneratedKeys="true" keyProperty="key">
        INSERT INTO reference ( <include refid="COLS" /> )
        VALUES ( <include refid="PROPS" /> )
    </insert>

    <insert id="linkToTaxon">
        INSERT INTO taxon_reference (dataset_key, taxon_key, reference_key)
        VALUES ( #{datasetKey}, #{taxonKey}, #{refKey} )
    </insert>

    <select id="listByTaxon" resultType="integer">
        SELECT reference_key
        FROM taxon_reference
        WHERE dataset_key = #{datasetKey}
            AND taxon_key = #{taxonKey}
    </select>

</mapper>
