<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.ReferenceMapper">

    <sql id="SELECT">
        r.key,
        r.id,
        r.dataset_key,
        r.csl,
        r.serial_key,
        r.year,
        r.issues
    </sql>

    <sql id="COLS">
        id,
        dataset_key,
        csl,
        serial_key,
        year,
        issues
    </sql>

    <sql id="PROPS">
        #{id},
        #{datasetKey},
        #{csl, typeHandler=org.col.db.type.CslJsonHandler}::jsonb,
        #{serialKey},
        #{year},
        #{issues, typeHandler=org.col.db.type2.IssueSetTypeHandler}::int[]
    </sql>

    <sql id="FROM">
        reference r
    </sql>

    <!-- A mapping to Reference, mostly auto mapped -->
    <resultMap id="referenceResultMap" type="Reference" autoMapping="true">
        <id property="key" column="key" />
        <result property="year" column="year" />
        <result property="csl" column="csl" typeHandler="org.col.db.type.CslJsonHandler" />
        <result property="issues" column="issues" typeHandler="org.col.db.type2.IssueSetTypeHandler" />
    </resultMap>

    <select id="count" parameterType="map" resultType="Integer">
        SELECT count(*)
        FROM reference
        <if test="datasetKey != null">
            WHERE dataset_key = #{datasetKey}
        </if>
    </select>

    <select id="list" parameterType="map" resultMap="referenceResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        <if test="datasetKey != null">
            WHERE r.dataset_key = #{datasetKey}
        </if>
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="listByKeys" parameterType="map" resultMap="referenceResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE key IN
        <foreach item="k" index="idx" collection="keys"
                 open="(" separator="," close=")">
            #{k}
        </foreach>
    </select>

    <select id="lookupKey" resultType="Integer">
        SELECT key
        FROM reference
        WHERE id = #{id} AND dataset_key = #{datasetKey}
    </select>

    <select id="get" resultMap="referenceResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE r.key = #{key}
    </select>

    <insert id="create" parameterType="Reference" useGeneratedKeys="true" keyProperty="key">
        INSERT INTO reference ( <include refid="COLS" /> )
        VALUES ( <include refid="PROPS" /> )
    </insert>

    <select id="taxonReferences" resultType="Integer">
        SELECT reference_key
        FROM taxon_reference
        WHERE taxon_key = #{taxonKey}
    </select>

</mapper>
