<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.SectorMapper">

  <sql id="SELECT">
    <include refid="org.col.db.mapper.DecisionMapper.DecisionColsAll">
      <property name="prefix" value="s."/>
    </include>,
    s.target_id,
    s.target_name,
    s.target_authorship,
    s.target_rank,
    s.mode
  </sql>

  <sql id="COLS">
    dataset_key,
    <include refid="org.col.db.mapper.DecisionMapper.DecisionCols">
      <property name="prefix" value=""/>
    </include>,
    target_id,
    target_name,
    target_authorship,
    target_rank,
    mode
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    <include refid="org.col.db.mapper.DecisionMapper.DecisionProps" />,
    #{target.id},
    #{target.name},
    #{target.authorship},
    #{target.rank}::rank,
    #{mode}
  </sql>

  <sql id="FROM">
    sector s
  </sql>

  <sql id="WHERE">
    <where>
      <if test="idIsNull">
        t.id IS NULL
      </if>
      <if test="datasetKey != null">
        AND s.dataset_key = #{datasetKey}
      </if>
    </where>
  </sql>

  <!-- A mapping to Distribution, mostly auto mapped -->
  <resultMap id="sectorResultMap" type="Sector" autoMapping="true">
    <id property="key" column="key" />
    <result property="datasetKey" column="decision_dataset_key" />
    <association property="subject" javaType="SimpleName" resultMap="org.col.db.mapper.SectorMapper.refResultMap" columnPrefix="subject_" />
    <association property="target" javaType="SimpleName" resultMap="org.col.db.mapper.SectorMapper.refResultMap" columnPrefix="target_" />
  </resultMap>

  <resultMap id="refResultMap" type="SimpleName" autoMapping="true">
  </resultMap>


  <select id="get" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE key = #{key}
  </select>

  <insert id="create" parameterType="Sector" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO sector ( <include refid="COLS" />, created_by )
    VALUES ( <include refid="PROPS" />, #{createdBy} )
  </insert>

  <update id="update" parameterType="Sector">
    UPDATE sector
    SET (<include refid="COLS" />) = (<include refid="PROPS" />)
    WHERE key = #{key}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM sector
    WHERE key = #{key}
  </delete>

  <select id="list" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    <bind name="idIsNull" value="false" />
    <include refid="WHERE" />
    ORDER BY key
  </select>

  <select id="listChildSectors" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
      JOIN taxon_3 t ON t.id=s.target_id
    WHERE t.sector_key=#{key}
    ORDER BY key
  </select>

  <select id="subjectBroken" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
      LEFT JOIN taxon t ON t.id=s.subject_id AND t.dataset_key = #{datasetKey}
    <bind name="idIsNull" value="true" />
    <include refid="WHERE" />
    ORDER BY key
  </select>

  <select id="targetBroken" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
      LEFT JOIN taxon t ON t.id=s.target_id AND t.dataset_key = 3
    <bind name="idIsNull" value="true" />
    <include refid="WHERE" />
    ORDER BY key
  </select>

</mapper>
