<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.SectorMapper">

  <sql id="SelectVar">
    ${alias}key AS ${prefix}key,
    ${alias}dataset_key AS ${prefix}dataset_key,
    ${alias}subject_dataset_key AS ${prefix}subject_dataset_key,
    ${alias}subject_id AS ${prefix}subject_id,
    ${alias}subject_name AS ${prefix}subject_name,
    ${alias}subject_authorship AS ${prefix}subject_authorship,
    ${alias}subject_rank AS ${prefix}subject_rank,
    ${alias}subject_code AS ${prefix}subject_code,
    ${alias}subject_status AS ${prefix}subject_status,
    ${alias}subject_parent AS ${prefix}subject_parent,
    ${alias}target_id AS ${prefix}target_id,
    ${alias}target_name AS ${prefix}target_name,
    ${alias}target_authorship AS ${prefix}target_authorship,
    ${alias}target_rank AS ${prefix}target_rank,
    ${alias}target_code AS ${prefix}target_code,
    ${alias}mode AS ${prefix}mode,
    ${alias}code AS ${prefix}code,
    ${alias}note AS ${prefix}note,
    ${alias}modified AS ${prefix}modified,
    ${alias}modified_by AS ${prefix}modified_by,
    ${alias}created AS ${prefix}created,
    ${alias}created_by AS ${prefix}created_by
  </sql>

  <sql id="SELECT">
    <include refid="org.col.db.mapper.SectorMapper.SelectVar">
      <property name="alias" value="s."/>
      <property name="prefix" value=""/>
    </include>
  </sql>

  <sql id="COLS">
    dataset_key,
    subject_dataset_key,
    subject_id,
    subject_name,
    subject_authorship,
    subject_rank,
    subject_code,
    subject_status,
    subject_parent,
    target_id,
    target_name,
    target_authorship,
    target_rank,
    target_code,
    mode,
    code,
    note,
    modified,
    modified_by
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{subjectDatasetKey},
    #{subject.id},
    #{subject.name},
    #{subject.authorship},
    #{subject.rank}::rank,
    #{subject.code},
    #{subject.status},
    #{subject.parent},
    #{target.id},
    #{target.name},
    #{target.authorship},
    #{target.rank}::rank,
    #{target.code},
    #{mode},
    #{code},
    #{note},
    now(),
    #{modifiedBy}
  </sql>

  <sql id="FROM">
    sector s
  </sql>

  <sql id="WHERE">
    <where>
      <if test="idIsNull">
        t.id IS NULL
      </if>
      <if test="targetDatasetKey != null">
        AND s.dataset_key = #{targetDatasetKey}
      </if>
      <if test="subjectDatasetKey != null">
        AND s.subject_dataset_key = #{subjectDatasetKey}
      </if>
    </where>
  </sql>

  <!-- A mapping to Distribution, mostly auto mapped -->
  <resultMap id="sectorResultMap" type="Sector" autoMapping="true">
    <id property="key" column="key" />
    <association property="subject" javaType="SimpleName" autoMapping="true" columnPrefix="subject_" />
    <association property="target" javaType="SimpleName" autoMapping="true" columnPrefix="target_" />
  </resultMap>

  <select id="get" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE key = #{key}
  </select>

  <select id="getBySubject" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE subject_dataset_key = #{subjectDatasetKey}
      AND dataset_key = #{targetDatasetKey}
      AND subject_id = #{id}
  </select>

  <select id="listByTarget" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE target_id = #{id}
      AND dataset_key = #{targetDatasetKey}
  </select>

  <select id="processCatalogue" parameterType="map" resultMap="sectorResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE dataset_key = #{datasetKey}
    ORDER BY key
  </select>


  <select id="processSectors" parameterType="map" resultMap="sectorResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE subject_dataset_key = #{subjectDatasetKey}
      AND dataset_key = #{targetDatasetKey}
    ORDER BY target_rank, key
  </select>

  <insert id="create" parameterType="Sector" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO sector ( <include refid="COLS" />, created_by )
    VALUES ( <include refid="PROPS" />, #{createdBy} )
  </insert>

  <update id="update" parameterType="Sector">
    UPDATE sector
    SET (<include refid="COLS" />) = (<include refid="PROPS" />)
    WHERE key = #{key}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM sector
    WHERE key = #{key}
  </delete>

  <select id="list" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    ORDER BY target_rank, key
    <include refid="org.col.db.Common.limit" />
  </select>

  <select id="listByDataset" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    <bind name="idIsNull" value="false" />
    <include refid="WHERE" />
    ORDER BY target_rank, key
  </select>

  <select id="listChildSectors" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
      JOIN name_usage_${targetDatasetKey} t ON t.id=s.target_id
    WHERE t.sector_key=#{key}
    ORDER BY key
  </select>

  <select id="subjectBroken" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
      LEFT JOIN name_usage t ON t.id=s.subject_id AND t.dataset_key=#{subjectDatasetKey}
    <bind name="idIsNull" value="true" />
    <include refid="WHERE" />
    ORDER BY key
  </select>

  <select id="targetBroken" resultMap="sectorResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
      LEFT JOIN name_usage_${targetDatasetKey} t ON t.id=s.target_id
    <bind name="idIsNull" value="true" />
    <include refid="WHERE" />
    ORDER BY key
  </select>

  <select id="processDataset" parameterType="map" resultMap="sectorResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE dataset_key=#{datasetKey}
  </select>

</mapper>
