<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.SynonymMapper">

    <sql id="synCols">
        <include refid="org.col.db.mapper.NameUsageMapper.usageCols"/>
    </sql>

    <sql id="COLS">
        <include refid="org.col.db.mapper.NameUsageMapper.COLS"/>
    </sql>

    <sql id="PROPS">
        <include refid="org.col.db.mapper.NameUsageMapper.PROPS"/>
    </sql>

    <sql id="SELECT">
        <include refid="org.col.db.mapper.SynonymMapper.synCols">
            <property name="alias" value="u"/>
            <property name="prefix" value=""/>
        </include>,
        <include refid="org.col.db.mapper.NameMapper.nameCols">
            <property name="alias" value="n"/>
            <property name="prefix" value="n_"/>
        </include>,
        <include refid="org.col.db.mapper.TaxonMapper.taxonCols">
            <property name="alias" value="a"/>
            <property name="prefix" value="a_"/>
        </include>,
        <include refid="org.col.db.mapper.NameMapper.nameCols">
            <property name="alias" value="an"/>
            <property name="prefix" value="a_n_"/>
        </include>
    </sql>

    <sql id="FROM">
        <include refid="org.col.db.mapper.NameUsageMapper.FROM"/>
        JOIN name_usage_${datasetKey} a ON a.id=u.parent_id
        JOIN name_${datasetKey} an ON an.id=a.name_id
    </sql>


    <resultMap id="synonymResultMap" type="Synonym" autoMapping="true">
        <id property="id" column="id" />
        <association property="name" javaType="Name" resultMap="org.col.db.mapper.NameMapper.nameResultMap" columnPrefix="n_" />
        <association property="accepted" javaType="Taxon" resultMap="org.col.db.mapper.TaxonMapper.taxonResultMap" columnPrefix="a_" />
    </resultMap>


    <select id="listByTaxon" resultMap="synonymResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE u.parent_id = #{taxonId} AND u.is_synonym
        ORDER BY u.status, n.homotypic_name_id, n.scientific_name
    </select>

    <select id="count" resultType="integer">
        <include refid="org.col.db.mapper.Common.countFromFinishedDatasetImport">
            <property name="column" value="synonym_count"/>
        </include>
    </select>

    <select id="list" resultMap="synonymResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE u.is_synonym
        ORDER BY id
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="get" resultMap="synonymResultMap" flushCache="true">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE u.id = #{id} AND u.is_synonym
    </select>

    <insert id="create" parameterType="Synonym" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO name_usage_${datasetKey}
        (id, <include refid="COLS" />, created, modified)
        VALUES (#{id}, <include refid="PROPS" />, now(), now())
    </insert>

    <update id="update" parameterType="Synonym" keyProperty="id">
        UPDATE name_usage_${datasetKey}
        SET (<include refid="COLS" />, created, modified)
        = (<include refid="PROPS" />, now(), now())
        WHERE u.id = #{id} AND u.is_synonym
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM name_usage_${datasetKey} WHERE id = #{id} AND is_synonym
    </delete>
</mapper>
