<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.SynonymMapper">

    <sql id="synCols">
        ${alias}.id AS ${prefix}id,
        ${alias}.verbatim_key AS ${prefix}verbatim_key,
        ${alias}.status AS ${prefix}status,
        ${alias}.according_to AS ${prefix}according_to,
        ${alias}.origin AS ${prefix}origin,
        ${alias}.created AS ${prefix}created,
        ${alias}.created_by AS ${prefix}created_by,
        ${alias}.modified AS ${prefix}modified,
        ${alias}.modified_by AS ${prefix}modified_by
    </sql>

    <sql id="COLS">
        dataset_key,
        id,
        name_id,
        taxon_id,
        verbatim_key,
        status,
        according_to,
        origin,
        created_by,
        modified_by
    </sql>

    <sql id="PROPS">
        #{datasetKey},
        #{syn.id},
        #{nameId},
        #{taxonId},
        #{syn.verbatimKey},
        #{syn.status},
        #{syn.accordingTo},
        #{syn.origin},
        #{syn.createdBy},
        #{syn.modifiedBy}
    </sql>

    <sql id="SELECT">
        <include refid="org.col.db.mapper.SynonymMapper.synCols">
            <property name="alias" value="s"/>
            <property name="prefix" value=""/>
        </include>,
        <include refid="org.col.db.mapper.NameMapper.nameCols">
            <property name="alias" value="n"/>
            <property name="prefix" value="n_"/>
        </include>,
        <include refid="org.col.db.mapper.TaxonMapper.taxonCols">
            <property name="alias" value="a"/>
            <property name="prefix" value="a_"/>
        </include>,
        <include refid="org.col.db.mapper.NameMapper.nameCols">
            <property name="alias" value="an"/>
            <property name="prefix" value="a_n_"/>
        </include>
    </sql>

    <sql id="FROM">
        synonym s
        JOIN name n ON n.id=s.name_id AND s.dataset_key = n.dataset_key
        JOIN taxon a ON a.id=s.taxon_id AND s.dataset_key = a.dataset_key
        JOIN name an ON an.id=a.name_id AND s.dataset_key = an.dataset_key
    </sql>


    <resultMap id="synonymResultMap" type="Synonym" autoMapping="true">
        <association property="name" javaType="Name" resultMap="org.col.db.mapper.NameMapper.nameResultMap" columnPrefix="n_" />
        <association property="accepted" javaType="Taxon" resultMap="org.col.db.mapper.TaxonMapper.taxonResultMap" columnPrefix="a_" />
    </resultMap>

    <select id="listByName" resultMap="synonymResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE n.id = #{nameId}
            AND s.dataset_key = #{datasetKey}
    </select>


    <select id="listByTaxon" resultMap="synonymResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE s.taxon_id = #{taxonId}
            AND s.dataset_key = #{datasetKey}
        ORDER BY s.status, n.homotypic_name_id, n.scientific_name
    </select>

    <insert id="create">
        INSERT INTO synonym_${datasetKey} (<include refid="COLS" />, created, modified)
        VALUES (<include refid="PROPS" />, now(), now())
    </insert>

</mapper>
