<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.TaxonMapper">

    <sql id="taxonCols">
        ${alias}.key AS ${prefix}key,
        ${alias}.id AS ${prefix}id,
        ${alias}.dataset_key AS ${prefix}dataset_key,
        ${alias}.verbatim_key AS ${prefix}verbatim_key,
        ${alias}.parent_key AS ${prefix}parent_key,
        ${alias}.doubtful AS ${prefix}doubtful,
        ${alias}.origin AS ${prefix}origin,
        ${alias}.according_to AS ${prefix}according_to,
        ${alias}.according_to_date AS ${prefix}according_to_date,
        ${alias}.fossil AS ${prefix}fossil,
        ${alias}.recent AS ${prefix}recent,
        ${alias}.lifezones AS ${prefix}lifezones,
        ${alias}.dataset_url AS ${prefix}dataset_url,
        ${alias}.species_estimate AS ${prefix}species_estimate,
        ${alias}.species_estimate_reference_key AS ${prefix}species_estimate_reference_key,
        ${alias}.remarks AS ${prefix}remarks
    </sql>

    <sql id="SELECT">
        <include refid="taxonCols">
            <property name="alias" value="t"/>
            <property name="prefix" value=""/>
        </include>,
        <include refid="org.col.db.mapper.NameMapper.nameCols">
            <property name="alias" value="n"/>
            <property name="prefix" value="n_"/>
        </include>
    </sql>

    <sql id="COLS">
        id,
        dataset_key,
        verbatim_key,
        parent_key,
        name_key,
        doubtful,
        origin,
        according_to,
        according_to_date,
        fossil,
        recent,
        lifezones,
        dataset_url,
        species_estimate,
        species_estimate_reference_key,
        remarks
    </sql>

    <sql id="PROPS">
        #{id},
        #{datasetKey},
        #{verbatimKey},
        #{parentKey},
        #{name.key},
        #{doubtful},
        #{origin},
        #{accordingTo},
        #{accordingToDate},
        #{fossil},
        #{recent},
        #{lifezones, typeHandler=org.col.db.type.LifezoneSetTypeHandler},
        #{datasetUrl, typeHandler=org.col.db.type.UriTypeHandler},
        #{speciesEstimate},
        #{speciesEstimateReferenceKey},
        #{remarks}
    </sql>

    <sql id="FROM">
        taxon t JOIN name n ON (t.name_key=n.key AND t.dataset_key=n.dataset_key)
    </sql>

    <!-- A mapping to Name, mostly auto mapped -->
    <resultMap id="taxonResultMap" type="Taxon" autoMapping="true">
        <id property="key" column="key" />
        <result property="lifezones" column="lifezones" typeHandler="org.col.db.type.LifezoneSetTypeHandler" />
        <association property="name" javaType="Name" resultMap="org.col.db.mapper.NameMapper.nameResultMap" columnPrefix="n_" />
    </resultMap>


    <select id="lookupKey" resultType="integer">
        SELECT key
        FROM taxon
        WHERE id = #{id} AND dataset_key = #{datasetKey}
    </select>

    <select id="count" resultType="integer">
        SELECT count(*)
        FROM taxon
        WHERE dataset_key = #{datasetKey}
        <if test="root">
            AND parent_key IS NULL
        </if>
    </select>

    <select id="list" resultMap="taxonResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.dataset_key = #{datasetKey}
        <if test="root">
            AND t.parent_key IS NULL
        </if>
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="get" resultMap="taxonResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.dataset_key = #{datasetKey}
            AND t.key = #{key}
    </select>

    <select id="getByName" resultMap="taxonResultMap">
        SELECT key, <include refid="COLS" />
        FROM taxon
        WHERE dataset_key = #{datasetKey}
            AND name_key = #{name.key}
    </select>

    <select id="countChildren"  resultType="integer">
        SELECT count(*)
        FROM taxon
        WHERE dataset_key = #{datasetKey}
            AND parent_key = #{key}
    </select>

    <select id="children" resultMap="taxonResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.dataset_key = #{datasetKey}
            AND t.parent_key = #{key}
        ORDER BY n.rank, n.scientific_name
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="classification" resultMap="taxonResultMap">
        WITH RECURSIVE x AS(
            SELECT <include refid="SELECT" />
            FROM <include refid="FROM" />
            WHERE t.dataset_key = #{datasetKey}
                AND t.key = #{key}
        UNION
            SELECT <include refid="SELECT" />
            FROM <include refid="FROM" />, x
            WHERE t.dataset_key = #{datasetKey}
                AND t.key = x.parent_key
        )
        SELECT *
        FROM x
        WHERE x.key != #{key}
     </select>

    <insert id="create" parameterType="Taxon" useGeneratedKeys="true" keyProperty="key">
        INSERT INTO taxon_${datasetKey} (<include refid="COLS" />)
        VALUES (<include refid="PROPS" />)
    </insert>

</mapper>
