<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.TreeMapper">

    <sql id="SELECT">
        t.id,
        t.parent_id,
        n.scientific_name as name,
        null as authorship,
        n.rank,
        t.doubtful,
        null as speciesCount,
        t.species_estimate,
        t.species_estimate_reference_id,
        (select count(*) from taxon_${datasetKey} where parent_id=t.id) AS child_count
        <if test="datasetKey == 3">
            ,<include refid="org.col.db.mapper.SectorMapper.SELECT" />
        </if>
    </sql>

    <sql id="FROM">
        taxon_${datasetKey} t JOIN name_${datasetKey} n ON t.name_id=n.id
        <if test="datasetKey == 3">
            LEFT JOIN sector s ON s.attach_id=t.id
        </if>
    </sql>

    <!-- A mapping to Name, mostly auto mapped -->
    <resultMap id="treeResultMap" type="TreeNode" autoMapping="true">
        <id property="id" column="id" />
        <result property="status" column="doubtful" typeHandler="org.col.db.type2.TaxonStatusTypeHandler" />
        <association property="sector" javaType="Sector" resultMap="org.col.db.mapper.SectorMapper.sectorResultMap" columnPrefix="" />
    </resultMap>

    <select id="root" resultMap="treeResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.parent_id IS NULL
        ORDER BY n.rank, n.scientific_name
    </select>

    <select id="children" resultMap="treeResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.parent_id = #{id}
        ORDER BY n.rank, n.scientific_name
    </select>

    <select id="parents" resultMap="treeResultMap">
        WITH RECURSIVE x AS(
            SELECT <include refid="SELECT" />
            FROM <include refid="FROM" />
            WHERE t.id = #{id}
        UNION
            SELECT <include refid="SELECT" />
            FROM <include refid="FROM" />, x
            WHERE t.id = x.parent_id
        )
        SELECT *
        FROM x
     </select>

</mapper>
