<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.TreeMapper">

    <sql id="SELECT">
        t.dataset_key,
        t.id,
        t.parent_id,
        t.status,
        (select count(*) from name_usage_${datasetKey} WHERE parent_id=t.id AND NOT is_synonym) AS child_count,
        t.dataset_sectors,
        <include refid="org.col.db.mapper.NameMapper.minimalNameCols">
            <property name="alias" value="n"/>
            <property name="prefix" value=""/>
        </include>,
        <choose>
            <when test="datasetKey != @org.col.api.vocab.Datasets@DRAFT_COL">
                s.key AS sector_key,
                <include refid="org.col.db.mapper.DecisionMapper.SelectVar">
                    <property name="alias" value="ed."/>
                    <property name="prefix" value="ed_"/>
                </include>,
                NULL AS est_key
            </when>
            <otherwise>
                t.sector_key,
                NULL AS ed_key,
                <include refid="org.col.db.mapper.EstimateMapper.SelectVar">
                    <property name="alias" value="est."/>
                    <property name="prefix" value="est_"/>
                </include>
            </otherwise>
        </choose>
    </sql>

    <sql id="FROM_USAGE">
        name_usage_${datasetKey} t JOIN name_${datasetKey} n ON t.name_id=n.id
    </sql>

    <sql id="FROM">
        <include refid="FROM_USAGE"/>
        <choose>
            <when test="datasetKey != @org.col.api.vocab.Datasets@DRAFT_COL">
                LEFT JOIN sector    s ON  s.subject_id=t.id AND  s.dataset_key=#{datasetKey}
                LEFT JOIN decision ed ON ed.subject_id=t.id AND ed.dataset_key=#{datasetKey}
            </when>
            <otherwise>
                LEFT JOIN estimate est ON est.subject_id=t.id
            </otherwise>
        </choose>
    </sql>

    <resultMap id="treeResultMap" type="org.col.api.model.TreeNode$TreeNodeMybatis" autoMapping="true">
        <id property="id" column="id" />
        <result property="datasetSectors" column="dataset_sectors" />
        <association property="_name" javaType="Name" resultMap="org.col.db.mapper.NameMapper.nameResultMap" />
        <association property="decision" javaType="EditorialDecision" resultMap="org.col.db.mapper.DecisionMapper.decisionResultMap" columnPrefix="ed_" notNullColumn="key"/>
        <collection property="estimates" ofType="SpeciesEstimate" resultMap="org.col.db.mapper.EstimateMapper.estimateResultMap" columnPrefix="est_" notNullColumn="key"/>
    </resultMap>

    <select id="get" resultMap="treeResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.id = #{id}
    </select>

    <select id="root" resultMap="treeResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.parent_id IS NULL AND NOT is_synonym
        ORDER BY n.rank, n.scientific_name
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="children" resultMap="treeResultMap">
        <if test="insertPlaceholder">
            WITH first AS (
                SELECT t.id, n.rank
                FROM <include refid="FROM_USAGE" />
                WHERE t.parent_id = #{id} AND NOT is_synonym
                <if test="rank!=null">
                    AND n.rank > #{rank}::rank
                </if>
                ORDER BY n.rank, n.scientific_name
                LIMIT 1
            )
        </if>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
            <if test="insertPlaceholder">, first</if>
        WHERE t.parent_id = #{id} AND NOT t.is_synonym
            <if test="insertPlaceholder">AND first.rank=n.rank</if>
        ORDER BY n.rank, n.scientific_name
        <include refid="org.col.db.mapper.Common.limit" />
    </select>

    <select id="parents" resultMap="treeResultMap">
        WITH RECURSIVE x AS(
            SELECT <include refid="SELECT" />
            FROM <include refid="FROM" />
            WHERE t.id = #{id}
        UNION
            SELECT <include refid="SELECT" />
            FROM <include refid="FROM" />, x
            WHERE t.id = x.parent_id
        )
        SELECT *
        FROM x
     </select>

</mapper>
