<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.UserMapper">

    <sql id="SELECT">
      key,
      username,
      firstname,
      lastname,
      email,
      orcid,
      country,
      roles,
      settings,
      last_login,
      created,
      deleted
    </sql>

    <sql id="COLS">
      username,
      firstname,
      lastname,
      email,
      orcid,
      country,
      roles,
      settings,
      last_login,
      deleted
    </sql>

    <sql id="PROPS">
      #{username},
      #{firstname},
      #{lastname},
      #{email},
      #{orcid},
      #{country},
      #{roles, typeHandler=org.col.db.type2.RoleSetTypeHandler},
      #{settings, typeHandler=org.col.db.type2.HstoreMapTypeHandler}::hstore,
      #{lastLogin},
      #{deleted}
    </sql>

    <sql id="FROM">
        coluser
    </sql>

    <resultMap id="userResultMap" type="ColUser" autoMapping="true">
        <id property="key" column="key" />
        <result property="roles" column="roles" typeHandler="org.col.db.type2.RoleSetTypeHandler"/>
        <result property="settings" column="settings" typeHandler="org.col.db.type2.HstoreMapTypeHandler"/>
    </resultMap>


    <select id="get" resultMap="userResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE key = #{key}
    </select>

    <insert id="create" parameterType="ColUser" useGeneratedKeys="true" keyProperty="key">
      INSERT INTO coluser (<include refid="COLS" />)
             VALUES (<include refid="PROPS" />)
    </insert>

    <update id="update" parameterType="ColUser">
        UPDATE coluser
        SET (<include refid="COLS" />) = (<include refid="PROPS" />)
        WHERE key = #{key}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM coluser
        WHERE key = #{key}
    </delete>

</mapper>
