<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.VerbatimRecordMapper">

    <sql id="SELECT">
        v.key,
        v.dataset_key,
        v.line,
        v.file,
        v.type,
        v.terms,
        v.issues
    </sql>

    <sql id="COLS">
        dataset_key,
        line,
        file,
        type,
        terms,
        issues
    </sql>

    <sql id="PROPS">
        #{datasetKey},
        #{line},
        #{file},
        #{type},
        #{terms, typeHandler=org.col.db.type2.TermMapTypeHandler}::jsonb,
        #{issues, typeHandler=org.col.db.type2.IssueSetTypeHandler}::int[]
    </sql>

    <sql id="FROM">
        verbatim v
    </sql>

    <sql id="WHERE">
        WHERE dataset_key = #{datasetKey}
        <if test="type != null">
            AND v.type = #{type, typeHandler=org.col.db.type.TermTypeHandler}
        </if>
    </sql>


    <resultMap id="verbatimResultMap" type="TermRecord" autoMapping="true">
        <result property="terms" column="terms" typeHandler="org.col.db.type2.TermMapTypeHandler"/>
        <result property="issues" column="issues" typeHandler="org.col.db.type2.IssueSetTypeHandler" />
    </resultMap>



    <select id="count" resultType="integer">
        SELECT count(*)
        FROM <include refid="FROM" />
        <include refid="WHERE" />
    </select>

    <select id="list" resultMap="verbatimResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        <include refid="WHERE" />
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit"/>
    </select>

    <select id="get" resultMap="verbatimResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE key = #{key}
    </select>

    <insert id="create" parameterType="TermRecord"  useGeneratedKeys="true" keyProperty="key">
        INSERT INTO verbatim (<include refid="COLS" />)
        VALUES (<include refid="PROPS" />)
    </insert>

</mapper>
