<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.VernacularNameMapper">

  <sql id="SELECT">
    vn.key,
    vn.verbatim_key,
    vn.name,
    vn.latin,
    vn.language,
    vn.country,
    vn.reference_id,
    vn.created,
    vn.created_by,
    vn.modified,
    vn.modified_by
  </sql>

  <sql id="COLS">
    dataset_key,
    taxon_id,
    verbatim_key,
    name,
    latin,
    language,
    country,
    reference_id,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{taxonId},
    #{obj.verbatimKey},
    #{obj.name},
    #{obj.latin},
    #{obj.language},
    #{obj.country},
    #{obj.referenceId},
    #{obj.createdBy},
    #{obj.modifiedBy}
  </sql>

  <sql id="FROM">
    vernacular_name vn
  </sql>

  <resultMap id="vernacularNameResultMap" type="VernacularName" autoMapping="true">
    <id property="key" column="key" />
  </resultMap>


  <select id="listByTaxon" resultMap="vernacularNameResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE vn.dataset_key = #{datasetKey}
      AND vn.taxon_id = #{taxonId}
    ORDER BY name
  </select>

  <select id="get" resultMap="vernacularNameResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE vn.dataset_key = #{datasetKey}
      AND vn.key = #{key}
  </select>

  <insert id="create" parameterType="VernacularName" useGeneratedKeys="true" keyProperty="obj.key">
    INSERT INTO vernacular_name_${datasetKey} ( <include refid="COLS" />, created, modified)
    VALUES ( <include refid="PROPS" />, now(), now())
  </insert>

</mapper>
