<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.VernacularNameMapper">

  <sql id="SELECT">
    vn.key,
    vn.verbatim_key,
    vn.name,
    vn.latin,
    vn.language,
    vn.country,
    vnr.reference_key
  </sql>

  <sql id="COLS">
    dataset_key,
    taxon_key,
    verbatim_key,
    name,
    latin,
    language,
    country
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{taxonKey},
    #{v.verbatimKey},
    #{v.name},
    #{v.latin},
    #{v.language},
    #{v.country}
  </sql>

  <sql id="FROM">
    vernacular_name vn LEFT JOIN vernacular_name_reference vnr
      ON vn.key=vnr.vernacular_name_key AND vn.dataset_key = vnr.dataset_key
  </sql>

  <resultMap id="vernacularNameResultMap" type="VernacularName" autoMapping="true">
    <id property="key" column="key" />
    <collection property="referenceKeys" ofType="Integer">
      <result column="reference_key"/>
    </collection>
  </resultMap>


  <select id="listByTaxon" resultMap="vernacularNameResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE vn.dataset_key = #{datasetKey}
      AND vn.taxon_key = #{taxonKey}
    ORDER BY name
  </select>

  <select id="get" resultMap="vernacularNameResultMap">
    SELECT <include refid="SELECT" />
    FROM <include refid="FROM" />
    WHERE vn.dataset_key = #{datasetKey}
      AND vn.key = #{key}
  </select>

  <insert id="create" parameterType="VernacularName" useGeneratedKeys="true" keyProperty="v.key">
    INSERT INTO vernacular_name ( <include refid="COLS" /> )
    VALUES ( <include refid="PROPS" /> )
  </insert>

</mapper>
