<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.ReferenceMapper">

    <sql id="SELECT">
        r.id,
        r.dataset_key,
        r.sector_key,
        r.verbatim_key,
        r.csl,
        r.citation,
        r.year,
        r.created,
        r.created_by,
        r.modified,
        r.modified_by
    </sql>

    <sql id="COLS">
        id,
        dataset_key,
        sector_key,
        verbatim_key,
        csl,
        citation,
        year,
        created_by,
        modified_by
    </sql>

    <sql id="PROPS">
        #{id},
        #{datasetKey},
        #{sectorKey},
        #{verbatimKey},
        #{csl, typeHandler=life.catalogue.db.type.CslJsonHandler}::jsonb,
        #{citation},
        #{year},
        #{createdBy},
        #{modifiedBy}
    </sql>

    <sql id="FROM">
        reference_${partition} r
        <if test="_parameter.containsKey('req') and req.issues != null and !req.issues.isEmpty()">
            JOIN verbatim_${partition} v ON v.id=r.verbatim_key
        </if>
    </sql>

    <sql id="SEARCH_WHERE">
        <if test="req != null">
            <where>
                <if test="req.q != null">
                    r.doc @@ plainto_tsquery('simple2', #{req.q})
                </if>
                <if test="req.year != null">
                    AND r.year=#{req.year}
                </if>
                <if test="req.sectorKey != null">
                    AND
                    <choose>
                        <when test="req.getSectorKeyInt() != null">r.sector_key = #{req.getSectorKeyInt()}</when>
                        <when test="req.getSectorKeyIsNull()">r.sector_key IS NULL</when>
                        <otherwise>r.sector_key IS NOT NULL</otherwise>
                    </choose>
                </if>
                <if test="req.issues != null and !req.issues.isEmpty()">
                    AND v.issues @>
                    <foreach item="issue" index="index" collection="req.issues" open="array[" separator="," close="]">'${issue.name()}'::ISSUE</foreach>
                </if>
            </where>
        </if>
    </sql>

    <!-- A mapping to Reference, mostly auto mapped -->
    <resultMap id="referenceResultMap" type="Reference" autoMapping="true">
        <id property="id" column="id" />
        <result property="year" column="year" />
        <result property="csl" column="csl" typeHandler="life.catalogue.db.type.CslJsonHandler" />
    </resultMap>

    <select id="count" resultType="integer">
        <include refid="life.catalogue.db.Common.count">
            <property name="table" value="reference"/>
            <property name="column" value="reference_count"/>
        </include>
    </select>

    <select id="list" resultMap="referenceResultMap">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        ORDER BY id
        <include refid="life.catalogue.db.Common.limit" />
    </select>

    <select id="listByIds" resultMap="referenceResultMap">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE id IN
        <foreach item="k" index="idx" collection="ids"
                 open="(" separator="," close=")">
            #{k}
        </foreach>
    </select>

    <select id="find" resultMap="referenceResultMap">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE r.citation=#{citation}
        <if test="sectorKey != null">
            AND r.sector_key=#{sectorKey}
        </if>
    </select>

    <select id="search" resultMap="referenceResultMap">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        <include refid="SEARCH_WHERE" />
        ORDER BY
        <choose>
            <when test="req == null || req.sortBy == null">
                r.id
            </when>
            <otherwise>
                <bind name="sortBy" value="req.sortBy.name()" />
                <choose>
                    <when test="sortBy == 'RELEVANCE'">
                        ts_rank_cd(doc, plainto_tsquery('simple2', #{req.q}))
                    </when>
                    <when test="sortBy == 'YEAR'">
                        r.year DESC NULLs LAST, r.id
                    </when>
                    <otherwise>
                        r.id
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
        <include refid="life.catalogue.db.Common.limit"/>
    </select>

    <select id="searchCount" resultType="integer">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT COUNT(*)
        FROM <include refid="FROM" />
        <include refid="SEARCH_WHERE" />
    </select>

    <select id="get" resultMap="referenceResultMap">
        <include refid="life.catalogue.db.Common.partitionByKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE r.id = #{key.id}
    </select>

    <insert id="create" parameterType="Reference">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        INSERT INTO reference_${partition} ( <include refid="COLS" />, created, modified)
        VALUES ( <include refid="PROPS" />, now(), now())
    </insert>

    <update id="update" parameterType="Name" keyProperty="id">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        UPDATE reference_${partition}
        SET (<include refid="COLS" />, created, modified) = (<include refid="PROPS" />, now(), now())
        WHERE id = #{id} AND dataset_key=#{datasetKey}
    </update>

    <delete id="delete" parameterType="map">
        <include refid="life.catalogue.db.Common.partitionByKey"/>
        DELETE FROM reference_${partition}
        WHERE id = #{key.id} AND dataset_key=#{key.datasetKey}
    </delete>

    <delete id="deleteByDataset" parameterType="map">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        TRUNCATE reference_${partition} CASCADE
    </delete>

    <delete id="deleteBySector" parameterType="map">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        DELETE FROM reference_${partition}
        WHERE sector_key=#{sectorKey}
    </delete>

    <sql id="orphanWhere">
        WHERE NOT EXISTS (
            SELECT NULL FROM name_${partition} WHERE r.id=published_in_id
            UNION
            SELECT NULL FROM name_rel_${partition} WHERE r.id = published_in_id
            UNION
            SELECT NULL FROM type_material_${partition} WHERE r.id=reference_id
            UNION
            SELECT NULL FROM name_usage_${partition} WHERE reference_ids @> ARRAY[r.id]
            UNION
            SELECT NULL FROM vernacular_name_${partition} WHERE r.id = reference_id
            UNION
            SELECT NULL FROM media_${partition} WHERE r.id = reference_id
            UNION
            SELECT NULL FROM distribution_${partition} WHERE r.id = reference_id
            UNION
            SELECT NULL FROM distribution_${partition} WHERE r.id = reference_id
            UNION
            SELECT NULL FROM estimate WHERE dataset_key = #{datasetKey} AND r.id = reference_id
            LIMIT 1
        )
        <if test="before!=null">
            AND r.modified &lt; #{before}
        </if>
    </sql>

    <delete id="deleteOrphans" parameterType="map">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        DELETE FROM reference_${partition} r
        <include refid="orphanWhere"/>
    </delete>

    <select id="listOrphans" parameterType="map" resultMap="referenceResultMap">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        <include refid="orphanWhere"/>
        <include refid="life.catalogue.db.Common.limit"/>
    </select>

    <select id="processDataset" parameterType="map" resultMap="referenceResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
        <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
    </select>

</mapper>
