<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- Always good to have it in here for debugging -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

    <logger name="ch.qos.logback.classic" level="WARN"/>
    <logger name="org.gbif.dwc.terms.TermFactory" level="WARN"/>
    <logger name="life.catalogue" level="INFO"/>
    <logger name="life.catalogue.assembly" level="DEBUG"/>
    <logger name="life.catalogue.importer" level="INFO"/>
    <logger name="life.catalogue.release" level="INFO"/>
    <logger name="life.catalogue.admin" level="INFO"/>
    <logger name="life.catalogue.csv" level="INFO"/>
    <logger name="life.catalogue.common.io" level="INFO"/>
    <logger name="life.catalogue.doi" level="INFO"/>
    <logger name="life.catalogue.release" level="INFO"/>
    <logger name="life.catalogue.db.tree" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>

  <!--
    <logger name="life.catalogue.db.mapper" level="DEBUG"/>
    <logger name="java.sql" level="INFO" />
    <logger name="life.catalogue.importer" level="DEBUG"/>
  -->
    <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
