<configuration>

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- Always good to have it in here for debugging -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.ibatis" level="INFO" />
  <logger name="org.apache.ibatis.io" level="INFO" />
	<logger name="java.sql" level="INFO" />
	<logger name="life.catalogue.db" level="INFO" />
  <logger name="ch.qos.logback" level="WARN" />

  <!--
	<logger name="life.catalogue.db.mapper" level="DEBUG" />
  <logger name="life.catalogue.dao" level="DEBUG" />
  <logger name="life.catalogue.matching" level="DEBUG" />
	<logger name="life.catalogue.es" level="TRACE" /> <!- - TRACE if you like to see ES queries and responses - - >
  -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
