<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="life.catalogue.matching.IndexingMapper">
    <select id="getAllForDataset"
            resultType="life.catalogue.matching.NameUsage"
            resultOrdered="true"
            fetchSize="10" resultSetType="FORWARD_ONLY">
      SELECT
        nu.id as id,
        nu.parent_id as parentId,
        n.scientific_name as scientificName,
        n.authorship as authorship,
        n.rank as rank,
        nu.status as status,
        n.code as nomenclaturalCode,
        vs.source_id as sourceId,
        vs.source_dataset_key as sourceDatasetKey,
        pvs.source_id as parentSourceId,
        pvs.source_dataset_key as parentSourceDatasetKey
      FROM
        name_usage nu
      INNER JOIN
        name n on n.id = nu.name_id AND n.dataset_key=#{datasetKey}
      LEFT JOIN
        verbatim_source vs on vs.id = nu.id AND vs.dataset_key=#{datasetKey}
      LEFT JOIN
        verbatim_source pvs on pvs.id = nu.parent_id AND pvs.dataset_key=#{datasetKey}
      WHERE
        nu.dataset_key = #{datasetKey}
    </select>
</mapper>
