<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--

    WARNING!!!

    This mybatis config file is not used by the code!
    We only use it to configure the IntelliJ free mybatis plugin so its aware of the aliases
    which are otherwise setup via code in the MybatisFactory.
    -->
    <typeAliases>
        <typeAlias type="life.catalogue.api.model.TreeNode$TreeNodeMybatis" alias="TreeNodeMybatis" />
        <typeAlias type="life.catalogue.api.model.Duplicate$UsageDecision" alias="UsageDecision" />
        <typeAlias type="life.catalogue.api.model.Duplicate$Mybatis" alias="DuplicateMybatis" />
        <package name="life.catalogue.api.model" />
        <package name="life.catalogue.api.search" />
        <package name="org.gbif.nameparser.api" />
        <package name="life.catalogue.db.type2" />
        <package name="life.catalogue.db.mapper" />
    </typeAliases>
    <mappers>
        <mapper class="life.catalogue.db.Common" />
        <package name="life.catalogue.db.mapper" />
    </mappers>
</configuration>