<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.legacy.LNameMapper">


  <resultMap id="usageResultMap" type="life.catalogue.db.mapper.legacy.model.LName" autoMapping="true">
    <id column="id"/>
    <discriminator column="java_class" javaType="integer">
      <case value="1" resultType="LSynonym" resultMap="synonymResultMap"/>
      <case value="2" resultType="LHigherName" resultMap="higherResultMap"/>
      <case value="3" resultType="LSpeciesName" resultMap="speciesResultMap"/>
    </discriminator>
  </resultMap>

  <resultMap id="usageFullResultMap" type="life.catalogue.db.mapper.legacy.model.LName" autoMapping="true">
    <id column="id"/>
    <discriminator column="java_class" javaType="integer">
      <case value="1" resultType="LSynonym" resultMap="synonymFullResultMap"/>
      <case value="2" resultType="LHigherName" resultMap="higherFullResultMap"/>
      <case value="3" resultType="LSpeciesName" resultMap="speciesFullResultMap"/>
    </discriminator>
  </resultMap>

  <resultMap id="higherResultMap" type="life.catalogue.db.mapper.legacy.model.LHigherName" autoMapping="true">
    <id property="id" column="id"/>
    <result property="name" column="scientific_name"/>
  </resultMap>

  <resultMap id="higherFullResultMap" type="life.catalogue.db.mapper.legacy.model.LHigherName" autoMapping="true" extends="higherResultMap">
    <id property="id" column="id"/>
  </resultMap>


  <resultMap id="speciesResultMap" type="life.catalogue.db.mapper.legacy.model.LSpeciesName" autoMapping="true" extends="higherResultMap">
    <id property="id" column="id"/>
    <result property="author" column="authorship"/>
    <result property="onlineResource" column="link"/>
    <association property="recordScrutinyDate" javaType="LScrutiny">
      <result property="scrutinizer" column="scrutinizer"/>
      <result property="scrutiny" column="scrutinizer_date"/>
    </association>
  </resultMap>

  <resultMap id="speciesFullResultMap" type="life.catalogue.db.mapper.legacy.model.LSpeciesName" autoMapping="true" extends="speciesResultMap">
    <id property="id" column="id"/>
    <collection property="classification" ofType="LHigherName" column="{id=id,datasetKey=dataset_key}" autoMapping="true" select="classification"/>
    <collection property="childTaxa" ofType="LHigherName" column="{id=id,datasetKey=dataset_key}" autoMapping="true" select="children"/>
  </resultMap>


  <resultMap id="synonymResultMap" type="life.catalogue.db.mapper.legacy.model.LSynonym" autoMapping="true" extends="speciesResultMap">
    <id property="id" column="id"/>
  </resultMap>

  <resultMap id="synonymFullResultMap" type="life.catalogue.db.mapper.legacy.model.LSynonym" autoMapping="true" extends="synonymResultMap">
    <id property="id" column="id"/>
  </resultMap>



  <sql id="SELECT">
    CASE WHEN u.is_synonym THEN 1
      WHEN n.rank &lt; 'SPECIES_AGGREGATE'::rank THEN 2
      ELSE 3
    END AS java_class,
    <include refid="COLS"><property name="prefix" value=""/></include>
  </sql>

  <sql id="SELECT_FULL">
    u.dataset_key,
    <include refid="SELECT"/>,
    n.genus,
    n.infrageneric_epithet AS subgenus,
    n.specific_epithet AS species,
    CASE WHEN n.rank > 'SPECIES'::rank THEN r.marker ELSE NULL END AS infraspecies_marker,
    n.infraspecific_epithet AS infraspecies,
    n.authorship AS author
  </sql>

  <sql id="COLS">
    u.id AS ${prefix}id,
    n.scientific_name AS ${prefix}scientific_name,
    n.authorship AS ${prefix}authorship,
    n.rank AS ${prefix}rank,
    u.status AS ${prefix}status,
    u.extinct AS ${prefix}extinct,
    u.scrutinizer AS ${prefix}scrutinizer,
    u.scrutinizer_date AS ${prefix}scrutinizer_date,
    u.link AS ${prefix}link,
    coalesce(d.alias,d.title) AS ${prefix}sourceDatabase,
    d.website AS ${prefix}sourceDatabaseUrl,
    NULL AS ${prefix}bibliographicCitation
  </sql>

  <sql id="WHERE">
    WHERE lower(n.scientific_name) LIKE lower(#{name}) <if test="prefix"> || '%'</if>
  </sql>

  <sql id="FROM">
    name_usage_${partition} u JOIN name_${partition} n on n.id=u.name_id
    LEFT JOIN sector s ON s.id=u.sector_key AND s.dataset_key=#{datasetKey}
    LEFT JOIN dataset d ON d.key=s.subject_dataset_key
  </sql>

  <sql id="FROM_FULL">
    <include refid="FROM"/>
    LEFT JOIN __ranks r ON n.rank=r.key
  </sql>

  <select id="count" resultType="integer">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT count(*)
    FROM <include refid="FROM"/>
    <include refid="WHERE"/>
  </select>

  <select id="search" resultMap="usageResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    <include refid="WHERE"/>
  </select>

  <select id="searchFull" resultMap="usageFullResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT_FULL"/>
    FROM <include refid="FROM_FULL"/>
    <include refid="WHERE"/>
  </select>

  <select id="get" resultMap="usageResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE u.id = #{id}
  </select>

  <select id="getFull" resultMap="usageFullResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT_FULL"/>
    FROM <include refid="FROM_FULL"/>
    WHERE u.id = #{id}
  </select>


  <sql id="HIGHER_SELECT">SELECT u.id, n.scientific_name, n.rank, u.status, u.extinct</sql>

  <select id="classification" parameterType="map" resultMap="higherResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    WITH RECURSIVE cl AS (
      <include refid="HIGHER_SELECT"/>, u.parent_id
      FROM <include refid="FROM"/>
      WHERE u.id = #{id}
    UNION
      <include refid="HIGHER_SELECT"/>, u.parent_id
      FROM <include refid="FROM"/>, cl
      WHERE u.id = cl.parent_id
    )
    SELECT * FROM cl WHERE cl.id != #{id}
  </select>

  <select id="children" parameterType="map" resultMap="higherResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    <include refid="HIGHER_SELECT"/>,n.authorship
    FROM <include refid="FROM"/>
    WHERE u.parent_id = #{id} AND n.rank > 'SPECIES'::rank
  </select>

</mapper>
