<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.legacy.LVernacularMapper">


  <resultMap id="vernacularResultMap" type="life.catalogue.db.mapper.legacy.model.LCommonName" autoMapping="true">
    <id column="id"/>
  </resultMap>

  <resultMap id="vernacularFullResultMap" type="life.catalogue.db.mapper.legacy.model.LCommonName" autoMapping="true" extends="vernacularResultMap">
    <id column="id"/>
    <association property="acceptedName" resultMap="life.catalogue.db.mapper.legacy.LNameMapper.speciesResultMap" columnPrefix="a_"/>
  </resultMap>

  <sql id="SELECT">
    <include refid="VCORE"/>,
    <include refid="life.catalogue.db.mapper.legacy.LNameMapper.COLS"><property name="prefix" value="a_"/></include>
  </sql>

  <sql id="VCORE">
    v.id, v.name, c.title AS country, l.title AS language
  </sql>

  <sql id="WHERE">
    WHERE lower(v.name) LIKE lower(#{name}) <if test="prefix">|| '%'</if>
  </sql>

  <select id="count" resultType="integer">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT count(*)
    FROM vernacular_name_${partition} v
    <include refid="WHERE"/>
  </select>

  <select id="search" resultMap="vernacularFullResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    <bind name="full" value="false"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="life.catalogue.db.mapper.legacy.LNameMapper.FROM"/>
      JOIN vernacular_name_${partition} v ON v.taxon_id=u.id
      LEFT JOIN __language l ON l.code = v.language
      LEFT JOIN __country c  ON c.code = v.country
    <include refid="WHERE"/>
  </select>

  <select id="vernaculars" parameterType="map" resultMap="vernacularResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="VCORE"/>
    FROM vernacular_name_${partition} v
      LEFT JOIN __language l ON l.code = v.language
      LEFT JOIN __country c  ON c.code = v.country
    WHERE v.taxon_id = #{id}
  </select>

</mapper>
