<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.NameMapper">

    <sql id="SELECT">
        n.key,
        n.name_id,
        n.dataset_key,
        n.scientific_name,
        n.authorship,
        n.rank,
        n.genus,
        n.infrageneric_epithet,
        n.specific_epithet,
        n.infraspecific_epithet,
        n.notho,
        n.original_authors,
        n.original_year,
        n.combination_authors,
        n.combination_year,
        n.nomenclatural_code,
        n.status,
        n.type,
        n.fossil,
        n.original_name_key,
        bn.name_id AS original_name_id,
        n.issues,
        n.remark
    </sql>

    <sql id="COLS">
      name_id,
      dataset_key,
      scientific_name,
      authorship,
      rank,
      genus,
      infrageneric_epithet,
      specific_epithet,
      infraspecific_epithet,
      notho,
      original_authors,
      original_year,
      combination_authors,
      combination_year,
      nomenclatural_code,
      status,
      type,
      fossil,
      original_name_key,
      issues,
      remark
    </sql>

    <sql id="PROPS">
      #{key},
      #{dataset.key},
      #{scientificName},
      #{authorship},
      #{rank}::rank,
      #{genus},
      #{infragenericEpithet},
      #{specificEpithet},
      #{infraspecificEpithet},
      #{notho},
      #{originalAuthors, typeHandler=org.col.db.type.StringArrayTypeHandler},
      #{originalYear},
      #{combinationAuthors, typeHandler=org.col.db.type.StringArrayTypeHandler},
      #{combinationYear},
      #{nomenclaturalCode},
      #{status},
      #{type},
      #{fossil},
      #{originalName.keyInternal},
      #{issues, typeHandler=org.col.db.type.HstoreIssueHandler}::hstore,
      #{remark}
    </sql>

    <sql id="FROM">
        name n LEFT JOIN name bn ON n.original_name_key=bn.key
    </sql>

    <!--  A mapping to Name, mostly auto mapped -->
    <resultMap id="nameResultMap" type="Name" autoMapping="true">
        <id property="keyInternal" column="key" />
        <result property="key" column="name_id" />
        <result property="combinationAuthors" column="combination_authors" typeHandler="org.col.db.type.StringArrayTypeHandler"/>
        <result property="originalAuthors" column="original_authors" typeHandler="org.col.db.type.StringArrayTypeHandler"/>
        <result property="issues" column="issues" typeHandler="org.col.db.type.HstoreIssueHandler"/>
        <association property="dataset" javaType="Dataset">
            <id property="key" column="dataset_key"/>
        </association>
        <association property="originalName" javaType="Name">
            <id property="keyInternal" column="original_name_key"/>
            <id property="key" column="original_name_id"/>
        </association>
    </resultMap>


    <select id="getByInternalKey" resultMap="nameResultMap">
      SELECT <include refid="SELECT" />
      FROM <include refid="FROM" /> WHERE n.key = #{key}
    </select>

    <select id="get" resultMap="nameResultMap">
      SELECT <include refid="SELECT" />
      FROM <include refid="FROM" /> WHERE n.name_id = #{key}
    </select>

    <insert id="insert" parameterType="Name" useGeneratedKeys="true" keyProperty="keyInternal">
      INSERT INTO name (<include refid="COLS" />)
        VALUES (<include refid="PROPS" />)
    </insert>

</mapper>
