<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.NameMapper">

    <sql id="COLS">
      key,
      dataset_key,
      scientific_name,
      authorship,
      rank,
      genus,
      infrageneric_epithet,
      specific_epithet,
      infraspecific_epithet,
      notho,
      original_authors,
      original_year,
      combination_authors,
      combination_year,
      nomenclatural_code,
      status,
      type,
      fossil,
      original_name_key,
      col_name_key,
      remark
    </sql>

    <sql id="PROPS">
      #{key},
      null,
      #{scientificName},
      #{authorship},
      #{rank}::rank,
      #{genus},
      #{infragenericEpithet},
      #{specificEpithet},
      #{infraspecificEpithet},
      #{notho},
      #{originalAuthors, typeHandler=org.col.db.type.StringArrayTypeHandler},
      #{originalYear},
      #{combinationAuthors, typeHandler=org.col.db.type.StringArrayTypeHandler},
      #{combinationYear},
      #{nomenclaturalCode},
      #{status},
      #{type},
      #{fossil},
      #{originalNameKey},
      #{colNameKey},
      #{remark}
    </sql>

    <!--  A mapping to Name, mostly auto mapped -->
    <resultMap id="nameResultMap" type="Name" autoMapping="true">
        <result property="combinationAuthors" column="combination_authors" typeHandler="org.col.db.type.StringArrayTypeHandler"/>
        <result property="originalAuthors" column="original_authors" typeHandler="org.col.db.type.StringArrayTypeHandler"/>
    </resultMap>


    <select id="getByInternalKey" resultType="Name">
      SELECT * FROM name where ikey = #{key}
    </select>

    <select id="get" resultType="Name">
      SELECT * FROM name where key = #{key}
    </select>

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="iKey">
      INSERT INTO name (<include refid="COLS" />) VALUES (<include refid="PROPS" />)
    </insert>

    <update id="update">
      UPDATE name SET (<include refid="COLS" />) = (<include refid="PROPS" />) WHERE key = #{key}
    </update>

    <delete id="delete">
        DELETE FROM name WHERE key = #{key}
    </delete>
</mapper>
