<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.SerialMapper">

    <sql id="COLS">
        title
    </sql>

    <sql id="PROPS">
        #{title}
    </sql>

    <select id="get" resultType="Serial">
      SELECT * FROM serial where key = #{key}
    </select>

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="key">
      INSERT INTO serial (<include refid="COLS" />) VALUES (<include refid="PROPS" />)
    </insert>

    <update id="update">
      UPDATE serial SET (<include refid="COLS" />) = (<include refid="PROPS" />) WHERE key = #{key}
    </update>

    <delete id="delete">
        DELETE FROM serial WHERE key = #{key}
    </delete>
</mapper>
