<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.TaxonMapper">

	<sql id="SELECT">
		t.key,
		t.id,
		t.dataset_key,
		t.parent_key,
		pt.id as parent_id,
		t.name_key,
		n.id as name_id
	</sql>

	<sql id="COLS">
		id,
		dataset_key,
		parent_key,
		name_key
	</sql>

	<sql id="PROPS">
		#{id},
		#{dataset.key},
		#{parent.key},
		#{name.key}
	</sql>

	<sql id="FROM">
		taxon t
		LEFT JOIN taxon pt ON (t.parent_key=pt.key)
		LEFT JOIN name n ON (t.name_key=n.key)
	</sql>

	<!-- A mapping to Name, mostly auto mapped -->
	<resultMap id="taxonResultMap" type="Taxon" autoMapping="true">
		<id property="key" column="key" />
		<id property="id" column="id" />
		<association property="dataset" javaType="Dataset">
			<id property="key" column="dataset_key" />
		</association>
		<association property="parent" javaType="Taxon">
			<id property="key" column="parent_key" />
			<id property="id" column="parent_id" />
		</association>
		<association property="name" javaType="Name">
			<id property="key" column="name_key" />
			<id property="id" column="name_id" />
		</association>
	</resultMap>


    <select id="count" parameterType="map" resultType="Integer">
        SELECT count(*)
        FROM taxon
        WHERE dataset_key = #{datasetKey}
    </select>

    <select id="list" parameterType="map" resultMap="taxonResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE t.dataset_key = #{datasetKey}
        ORDER BY key
        <include refid="org.col.db.mapper.Common.limit"/>
    </select>
    
    <select id="getByInternalKey" resultMap="taxonResultMap">
		SELECT
		<include refid="SELECT" />
		FROM
		<include refid="FROM" />
		WHERE t.key = #{key}
	</select>

	<select id="get" resultMap="taxonResultMap">
		SELECT
		<include refid="SELECT" />
		FROM
		<include refid="FROM" />
		WHERE t.id = #{key}
	</select>

	<insert id="create" parameterType="Taxon" useGeneratedKeys="true" keyProperty="key">
		INSERT INTO taxon (
		<include refid="COLS" />
		)
		VALUES (
		<include refid="PROPS" />
		)
	</insert>

</mapper>
