<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.col.db.mapper.VerbatimRecordMapper">

    <sql id="SELECT">
        v.id,
        v.dataset_key,
        v.name_key,
        v.taxon_key,
        v.terms,
        v.issues
    </sql>

    <sql id="COLS">
        id,
        dataset_key,
        name_key,
        taxon_key,
        terms,
        issues
    </sql>

    <sql id="PROPS">
      #{rec.id},
      #{rec.dataset.key},
      #{nameKey},
      #{taxonKey},
      #{rec.terms, typeHandler=org.col.db.type.VerbatimRecordTermsTypeHandler}::jsonb,
      #{rec.issues, typeHandler=org.col.db.type.HstoreIssueHandler}::hstore
    </sql>

    <sql id="FROM">
        verbatim_record v
    </sql>

    <!--  A mapping to Name, mostly auto mapped -->
    <resultMap id="verbatimResultMap" type="VerbatimRecord" autoMapping="true">
        <id property="id" column="id"/>
        <result property="terms" column="terms" typeHandler="org.col.db.type.VerbatimRecordTermsTypeHandler"/>
        <result property="issues" column="issues" typeHandler="org.col.db.type.HstoreIssueHandler"/>
        <association property="dataset" javaType="Dataset">
            <id property="key" column="dataset_key"/>
        </association>
    </resultMap>

    <select id="get" resultMap="verbatimResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE dataset_key = #{datasetKey} AND id = #{id}
    </select>

    <select id="getByName" resultMap="verbatimResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
            JOIN name n ON n.key=v.name_key
        WHERE n.dataset_key = #{datasetKey} AND n.id = #{id}
    </select>

    <select id="getByTaxon" resultMap="verbatimResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
          JOIN taxon t ON t.key=v.taxon_key
        WHERE t.dataset_key = #{datasetKey} AND t.id = #{id}
    </select>

    <insert id="create" parameterType="map">
        INSERT INTO verbatim_record (<include refid="COLS" />)
        VALUES (<include refid="PROPS" />)
    </insert>

</mapper>
