<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.ArchivedNameUsageMapper">

  <sql id="COLS">
    id,
    n_id,
    dataset_key,
    <!-- Name mappings -->
    n_rank,
    n_candidatus,
    n_notho,
    n_code,
    n_nom_status,
    n_original_spelling,
    n_gender_agreement,
    n_gender,
    n_origin,
    n_type,
    n_scientific_name,
    n_authorship,
    n_uninomial,
    n_genus,
    n_infrageneric_epithet,
    n_specific_epithet,
    n_infraspecific_epithet,
    n_cultivar_epithet,
    n_basionym_authors,
    n_basionym_ex_authors,
    n_basionym_year,
    n_combination_authors,
    n_combination_ex_authors,
    n_combination_year,
    n_sanctioning_author,
    n_published_in_id,
    n_published_in_page,
    n_nomenclatural_note,
    n_unparsed,
    n_identifier,
    n_etymology,
    n_link,
    n_remarks,
    <!-- NameUsageBase -->
    extinct,
    status,
    origin,
    parent_id,
    name_phrase,
    identifier,
    link,
    remarks,
    <!-- ArchivedNameUsage -->
    according_to,
    basionym,
    accepted,
    classification,
    published_in,
    release_keys
  </sql>

  <!-- The columns that make up the archived version of an id, paired by position with VERSION_VALUES.
       Include with property alias "" for insert and SET target lists, and "a." to compare. -->
  <sql id="VERSION_COLS">
    ${alias}n_id, ${alias}n_rank, ${alias}n_candidatus, ${alias}n_notho, ${alias}n_code, ${alias}n_nom_status,
    ${alias}n_original_spelling, ${alias}n_gender_agreement, ${alias}n_gender, ${alias}n_origin, ${alias}n_type,
    ${alias}n_scientific_name, ${alias}n_authorship, ${alias}n_uninomial, ${alias}n_genus, ${alias}n_infrageneric_epithet,
    ${alias}n_specific_epithet, ${alias}n_infraspecific_epithet, ${alias}n_cultivar_epithet,
    ${alias}n_basionym_authors, ${alias}n_basionym_ex_authors, ${alias}n_basionym_year,
    ${alias}n_combination_authors, ${alias}n_combination_ex_authors, ${alias}n_combination_year,
    ${alias}n_sanctioning_author, ${alias}n_published_in_id, ${alias}n_published_in_page, ${alias}n_nomenclatural_note,
    ${alias}n_unparsed, ${alias}n_identifier, ${alias}n_etymology, ${alias}n_link, ${alias}n_remarks,
    ${alias}extinct, ${alias}status, ${alias}origin, ${alias}parent_id, ${alias}name_phrase, ${alias}identifier,
    ${alias}link, ${alias}remarks,
    ${alias}according_to, ${alias}basionym, ${alias}accepted, ${alias}classification, ${alias}published_in
  </sql>

  <sql id="VERSION_VALUES">
    n.id, n.rank, n.candidatus, n.notho, n.code, n.nom_status,
    n.original_spelling, n.gender_agreement, n.gender, n.origin, n.type,
    n.scientific_name, n.authorship, n.uninomial, n.genus, n.infrageneric_epithet,
    n.specific_epithet, n.infraspecific_epithet, n.cultivar_epithet,
    n.basionym_authors, n.basionym_ex_authors, n.basionym_year,
    n.combination_authors, n.combination_ex_authors, n.combination_year,
    n.sanctioning_author, n.published_in_id, n.published_in_page, n.nomenclatural_note,
    n.unparsed, n.identifier, n.etymology, n.link, n.remarks,
    u.extinct, u.status, u.origin, u.parent_id, u.name_phrase, u.identifier,
    u.link, u.remarks,
    ra.citation, bas.sn,
    CASE WHEN is_synonym(u.status) THEN (up.id,np.rank,np.scientific_name,np.authorship)::simple_name END,
    CASE WHEN is_synonym(u.status) THEN mp.classification ELSE m.classification END,
    rp.citation
  </sql>

  <!-- A name can have several basionym relations. A plain join would yield one row per relation and an UPDATE applies
       an arbitrary one, so the "only rewrite what differs" comparison would write on every run: pick one, ordered. -->
  <sql id="VERSION_FROM">
    name_usage u
      JOIN name n ON n.dataset_key=u.dataset_key AND n.id=u.name_id
      LEFT JOIN reference ra ON ra.dataset_key=u.dataset_key AND ra.id=u.according_to_id
      LEFT JOIN LATERAL (
        SELECT (bn.id,bn.rank,bn.scientific_name,bn.authorship)::simple_name AS sn
        FROM name_rel br JOIN name bn ON bn.dataset_key=${releaseKey} AND bn.id=br.related_name_id
        WHERE br.dataset_key=${releaseKey} AND br.name_id=n.id AND br.type='BASIONYM'::nomreltype
        ORDER BY bn.id
        LIMIT 1
      ) bas ON true
      LEFT JOIN taxon_metrics m ON m.dataset_key=u.dataset_key AND m.taxon_id=u.id
      LEFT JOIN taxon_metrics mp ON mp.dataset_key=u.dataset_key AND mp.taxon_id=u.parent_id
      LEFT JOIN name_usage up ON up.dataset_key=u.dataset_key AND up.id=u.parent_id
      LEFT JOIN name np ON np.dataset_key=u.dataset_key AND np.id=up.name_id
      LEFT JOIN reference rp ON rp.dataset_key=u.dataset_key AND rp.id=n.published_in_id
  </sql>

  <!-- the keys of the releases whose archived versions a statement must not overwrite, see ReleaseRanking.blockingKeys -->
  <sql id="BLOCKING">ARRAY[<foreach collection="blocking" item="k" separator=",">${k}</foreach>]::int[]</sql>


  <resultMap id="archivedNameResultMap" type="ArchivedNameUsage" autoMapping="true">
    <id property="id" column="id"/>
    <result property="identifier" column="identifier" typeHandler="life.catalogue.db.type2.IdentifierArrayTypeHandler"/>
    <result property="classification" column="classification" typeHandler="life.catalogue.db.type2.SimpleNameArrayTypeHandler"/>
    <result property="releaseKeys" column="release_keys" typeHandler="life.catalogue.db.type2.IntArrayTypeHandler"/>
    <association property="name" javaType="Name" resultMap="life.catalogue.db.mapper.NameMapper.nameResultMap" columnPrefix="n_"/>
  </resultMap>

  <resultMap id="archivedSimpleResultMap" type="ArchivedSimpleName" autoMapping="true">
    <id property="id" column="id"/>
    <result property="releaseKeys" column="release_keys" typeHandler="life.catalogue.db.type2.IntArrayTypeHandler"/>
    <result property="classification" column="classification" typeHandler="life.catalogue.db.type2.SimpleNameArrayTypeHandler"/>
  </resultMap>


  <select id="get" parameterType="map" resultMap="archivedNameResultMap">
    SELECT <include refid="COLS"/>
    FROM name_usage_archive
    WHERE dataset_key=#{key.datasetKey} AND id=#{key.id}
  </select>

  <select id="count" resultType="integer">
    SELECT count(*) FROM name_usage_archive
    WHERE dataset_key=#{datasetKey}
  </select>

  <select id="listProjects" resultType="integer">
    SELECT DISTINCT dataset_key
    FROM name_usage_archive
  </select>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM name_usage_archive
    WHERE dataset_key=#{datasetKey}
  </delete>

  <select id="processDataset" parameterType="map" resultMap="archivedNameResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="COLS"/>
    FROM name_usage_archive
    WHERE dataset_key=#{datasetKey}
  </select>

  <select id="processArchivedUsages" parameterType="map" resultMap="archivedSimpleResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT u.id,
      u.release_keys,
      u.n_scientific_name AS name,
      u.n_authorship AS authorship,
      u.name_phrase AS phrase,
      u.n_rank AS rank,
      u.n_code AS code,
      u.status,
      CASE WHEN is_synonym(u.status) THEN (u.accepted).name ELSE u.classification[array_upper(u.classification, 1)].name END AS parent,
      u.classification,
      m.index_id AS canonical_id,
      m.index_id AS namesIndexId,
      <!-- the match type is no longer persisted; NONE is the neutral "no information" default, see dbschema.md -->
      'NONE'::MATCHTYPE AS namesIndexMatchType
    FROM name_usage_archive u
      LEFT JOIN name_usage_archive_match m ON m.dataset_key=u.dataset_key AND m.usage_id=u.id
    WHERE u.dataset_key=#{datasetKey}
    ORDER BY m.index_id
  </select>

  <select id="processArchivedNames" parameterType="map" resultMap="life.catalogue.db.mapper.NameMapper.nameResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT
      u.id AS id,
      u.dataset_key,
      <!-- Name mappings -->
      u.n_rank AS rank,
      u.n_candidatus AS candidatus,
      u.n_notho AS notho,
      u.n_code AS code,
      u.n_nom_status AS nom_status,
      u.n_original_spelling AS original_spelling,
      u.n_gender_agreement AS gender_agreement,
      u.n_gender AS gender,
      u.n_origin AS origin,
      u.n_type AS type,
      u.n_scientific_name AS scientific_name,
      u.n_authorship AS authorship,
      u.n_uninomial AS uninomial,
      u.n_genus AS genus,
      u.n_infrageneric_epithet AS infrageneric_epithet,
      u.n_specific_epithet AS specific_epithet,
      u.n_infraspecific_epithet AS infraspecific_epithet,
      u.n_cultivar_epithet AS cultivar_epithet,
      u.n_basionym_authors AS basionym_authors,
      u.n_basionym_ex_authors AS basionym_ex_authors,
      u.n_basionym_year AS basionym_year,
      u.n_combination_authors AS combination_authors,
      u.n_combination_ex_authors AS combination_ex_authors,
      u.n_combination_year AS combination_year,
      u.n_sanctioning_author AS sanctioning_author,
      u.n_published_in_id AS published_in_id,
      u.n_published_in_page AS published_in_page,
      u.n_nomenclatural_note AS nomenclatural_note,
      u.n_unparsed AS unparsed,
      u.n_identifier AS identifier,
      u.n_link AS link,
      u.n_remarks AS remarks,
      <!-- name match -->
      m.index_id AS namesIndexId

    FROM name_usage_archive u
      LEFT JOIN name_usage_archive_match m ON m.dataset_key=u.dataset_key AND m.usage_id=u.id
    <where>
      <if test="datasetKey != null">u.dataset_key=#{datasetKey}</if>
      <if test="onlyMissing">AND m.usage_id IS NULL</if>
    </where>
  </select>

  <select id="indexGroupIds" resultMap="life.catalogue.db.mapper.NameMapper.dsidResultMap">
    SELECT u.dataset_key, u.id
    FROM name_usage_archive_match m
      JOIN name_usage_archive u ON m.dataset_key=u.dataset_key AND m.usage_id=u.id
    WHERE m.index_id = #{nidx}
  </select>

  <insert id="createMissingUsages" parameterType="map">
    INSERT INTO name_usage_archive (id, dataset_key, release_keys, <include refid="VERSION_COLS"><property name="alias" value=""/></include>)
    SELECT u.id, #{projectKey}, '{}'::int[], <include refid="VERSION_VALUES"/>
    FROM <include refid="VERSION_FROM"/>
    WHERE u.dataset_key=${releaseKey}
      AND NOT EXISTS (SELECT true FROM name_usage_archive a WHERE a.dataset_key=#{projectKey} AND a.id=u.id)
    ON CONFLICT (dataset_key, id) DO NOTHING
  </insert>

  <update id="updateExistingUsages" parameterType="map">
    UPDATE name_usage_archive a
    SET (<include refid="VERSION_COLS"><property name="alias" value=""/></include>) = (<include refid="VERSION_VALUES"/>)
    FROM <include refid="VERSION_FROM"/>
    WHERE a.dataset_key=#{projectKey}
      AND u.dataset_key=${releaseKey}
      AND a.id=u.id
      AND NOT (a.release_keys &amp;&amp; <include refid="BLOCKING"/>)
      AND (<include refid="VERSION_COLS"><property name="alias" value="a."/></include>) IS DISTINCT FROM (<include refid="VERSION_VALUES"/>)
  </update>

  <update id="addReleaseKey" parameterType="map">
    UPDATE name_usage_archive a
    SET release_keys = (SELECT array_agg(DISTINCT k ORDER BY k) FROM unnest(array_append(a.release_keys, ${releaseKey})) AS k)
    FROM name_usage u
    WHERE a.dataset_key=#{projectKey}
      AND u.dataset_key=${releaseKey}
      AND a.id=u.id
      AND NOT (a.release_keys @&gt; ARRAY[${releaseKey}])
  </update>

  <update id="tidyReleaseKeys" parameterType="map">
    UPDATE name_usage_archive a
    SET release_keys = t.keys
    FROM (
      SELECT x.id, coalesce((SELECT array_agg(DISTINCT k ORDER BY k) FROM unnest(x.release_keys) AS k), '{}'::int[]) AS keys
      FROM name_usage_archive x
      WHERE x.dataset_key=#{projectKey}
    ) t
    WHERE a.dataset_key=#{projectKey}
      AND a.id=t.id
      AND a.release_keys IS DISTINCT FROM t.keys
  </update>

  <select id="countMissingUsages" resultType="integer">
    SELECT count(*)
    FROM name_usage u
    WHERE u.dataset_key=${releaseKey}
      AND NOT EXISTS (SELECT true FROM name_usage_archive a WHERE a.dataset_key=#{projectKey} AND a.id=u.id)
  </select>

  <select id="countOutdatedUsages" resultType="integer">
    SELECT count(*)
    FROM name_usage_archive a, <include refid="VERSION_FROM"/>
    WHERE a.dataset_key=#{projectKey}
      AND u.dataset_key=${releaseKey}
      AND a.id=u.id
      AND NOT (a.release_keys &amp;&amp; <include refid="BLOCKING"/>)
      AND (<include refid="VERSION_COLS"><property name="alias" value="a."/></include>) IS DISTINCT FROM (<include refid="VERSION_VALUES"/>)
      <if test="renamedOnly">AND a.n_scientific_name IS DISTINCT FROM n.scientific_name</if>
  </select>

  <select id="countMissingReleaseKeys" resultType="integer">
    SELECT count(*)
    FROM name_usage_archive a
      JOIN name_usage u ON u.dataset_key=${releaseKey} AND u.id=a.id
    WHERE a.dataset_key=#{projectKey}
      AND NOT (a.release_keys @&gt; ARRAY[${releaseKey}])
  </select>

  <select id="isReleaseArchived" resultType="boolean">
    SELECT EXISTS (
      SELECT true FROM name_usage_archive WHERE dataset_key=#{projectKey} AND release_keys @&gt; ARRAY[${releaseKey}]
    )
  </select>

  <select id="hasUsages" resultType="boolean">
    SELECT EXISTS (SELECT true FROM name_usage WHERE dataset_key=${releaseKey})
  </select>

  <insert id="addSuperseded" parameterType="map">
    INSERT INTO usage_id_superseded (dataset_key, id, superseded_by)
    VALUES (#{releaseKey}, #{id}, #{supersededBy})
    ON CONFLICT (dataset_key, id) DO UPDATE SET superseded_by = EXCLUDED.superseded_by
  </insert>

  <select id="processSuperseded" parameterType="map" resultType="map" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT id, superseded_by AS supersededBy
    FROM usage_id_superseded
    WHERE dataset_key = #{releaseKey}
    ORDER BY id
  </select>

  <update id="clearSuperseded" parameterType="map">
    UPDATE name_usage_archive a SET superseded_by = null
    FROM name_usage u
    WHERE a.dataset_key=#{projectKey}
      AND u.dataset_key=${releaseKey}
      AND a.id=u.id
      AND a.superseded_by IS NOT NULL
  </update>

  <!-- liveIn holds literal keys, never bind parameters: name_usage is hash partitioned -->
  <update id="applySuperseded" parameterType="map">
    UPDATE name_usage_archive a SET superseded_by = s.superseded_by
    FROM usage_id_superseded s
    WHERE s.dataset_key=#{releaseKey}
      AND a.dataset_key=#{projectKey}
      AND a.id=s.id
      AND a.superseded_by IS DISTINCT FROM s.superseded_by
      <if test="liveIn != null and !liveIn.isEmpty()">
      AND NOT EXISTS (
        SELECT true FROM name_usage u
        WHERE u.dataset_key IN (<foreach collection="liveIn" item="k" separator=",">${k}</foreach>) AND u.id=s.id
      )
      </if>
  </update>

  <delete id="deleteSuperseded" parameterType="map">
    DELETE FROM usage_id_superseded WHERE dataset_key = #{releaseKey}
  </delete>

  <update id="truncate">
    TRUNCATE name_usage_archive
  </update>
</mapper>
