<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.ArchivedNameUsageMapper">

  <sql id="COLS">
    id,
    n_id,
    dataset_key,
    <!-- Name mappings -->
    n_rank,
    n_candidatus,
    n_notho,
    n_code,
    n_nom_status,
    n_original_spelling,
    n_gender_agreement,
    n_gender,
    n_origin,
    n_type,
    n_scientific_name,
    n_authorship,
    n_uninomial,
    n_genus,
    n_infrageneric_epithet,
    n_specific_epithet,
    n_infraspecific_epithet,
    n_cultivar_epithet,
    n_basionym_authors,
    n_basionym_ex_authors,
    n_basionym_year,
    n_combination_authors,
    n_combination_ex_authors,
    n_combination_year,
    n_sanctioning_author,
    n_published_in_id,
    n_published_in_page,
    n_nomenclatural_note,
    n_unparsed,
    n_identifier,
    n_etymology,
    n_link,
    n_remarks,
    <!-- NameUsageBase -->
    extinct,
    status,
    origin,
    parent_id,
    name_phrase,
    identifier,
    link,
    remarks,
    <!-- ArchivedNameUsage -->
    according_to,
    basionym,
    classification,
    published_in,
    first_release_key,
    last_release_key
  </sql>

  <sql id="PROPS">
    #{id},
    #{name.id},
    #{datasetKey},
    <!-- Name mappings -->
    #{name.rank}::RANK,
    #{name.candidatus},
    #{name.notho}::NAMEPART,
    #{name.code}::NOMCODE,
    #{name.nomStatus}::NOMSTATUS,
    #{name.originalSpelling},
    #{name.genderAgreement},
    #{name.gender}::GENDER,
    #{name.origin}::ORIGIN,
    #{name.type}::NAMETYPE,
    #{name.scientificName},
    #{name.authorship},
    #{name.uninomial},
    #{name.genus},
    #{name.infragenericEpithet},
    #{name.specificEpithet},
    #{name.infraspecificEpithet},
    #{name.cultivarEpithet},
    #{name.basionymAuthorship.authors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{name.basionymAuthorship.exAuthors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{name.basionymAuthorship.year},
    #{name.combinationAuthorship.authors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{name.combinationAuthorship.exAuthors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{name.combinationAuthorship.year},
    #{name.sanctioningAuthor},
    #{name.publishedInId},
    #{name.publishedInPage},
    #{name.nomenclaturalNote},
    #{name.unparsed},
    #{name.identifier, typeHandler=life.catalogue.db.type2.IdentifierArrayTypeHandler},
    #{name.etymology},
    #{name.link},
    #{name.remarks},
    <!-- NameUsageBase -->
    #{extinct},
    #{status}::TAXONOMICSTATUS,
    #{origin}::ORIGIN,
    #{parentId},
    #{namePhrase},
    #{identifier, typeHandler=life.catalogue.db.type2.IdentifierArrayTypeHandler},
    #{link},
    #{remarks},
    <!-- ArchivedNameUsage -->
    #{accordingTo},
    #{basionym, typeHandler=life.catalogue.db.type2.SimpleNameTypeHandler}::SIMPLE_NAME,
    #{classification, typeHandler=life.catalogue.db.type2.SimpleNameArrayTypeHandler}::SIMPLE_NAME[],
    #{publishedIn},
    #{firstReleaseKey},
    #{lastReleaseKey}
  </sql>

  <resultMap id="archivedNameResultMap" type="ArchivedNameUsage" autoMapping="true">
    <id property="id" column="id"/>
    <result property="identifier" column="identifier" typeHandler="life.catalogue.db.type2.IdentifierArrayTypeHandler"/>
    <result property="classification" column="classification" typeHandler="life.catalogue.db.type2.SimpleNameArrayTypeHandler"/>
    <association property="name" javaType="Name" resultMap="life.catalogue.db.mapper.NameMapper.nameResultMap" columnPrefix="n_"/>
  </resultMap>

  <resultMap id="archivedSimpleResultMap" type="ArchivedSimpleNameWithNidx" autoMapping="true">
    <id property="id" column="id"/>
  </resultMap>


  <select id="get" parameterType="map" resultMap="archivedNameResultMap">
    SELECT <include refid="COLS"/>
    FROM name_usage_archive
    WHERE dataset_key=#{key.datasetKey} AND id=#{key.id}
  </select>

  <select id="count" resultType="integer">
    SELECT count(*) FROM name_usage_archive
    WHERE dataset_key=#{datasetKey}
  </select>

  <select id="listProjects" resultType="integer">
    SELECT DISTINCT dataset_key
    FROM name_usage_archive
  </select>

  <insert id="create" parameterType="ArchivedNameUsage">
    INSERT INTO name_usage_archive (<include refid="COLS"/>)
    VALUES (<include refid="PROPS"/>)
  </insert>

  <delete id="delete" parameterType="map">
    DELETE FROM name_usage_archive
    WHERE dataset_key=#{key.datasetKey} AND id=#{key.id}
  </delete>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM name_usage_archive
    WHERE dataset_key=#{datasetKey}
  </delete>

  <select id="processDataset" parameterType="map" resultMap="archivedNameResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="COLS"/>
    FROM name_usage_archive
    WHERE dataset_key=#{datasetKey}
  </select>

  <select id="processArchivedUsages" parameterType="map" resultMap="archivedSimpleResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT u.id,
      u.last_release_key,
      u.n_scientific_name AS name,
      u.n_authorship AS authorship,
      u.name_phrase AS phrase,
      u.n_rank AS rank,
      u.n_code AS code,
      u.status,
      u.classification[1].name AS parent,
      ni.canonical_id,
      ni.id AS namesIndexId,
      m.type AS namesIndexMatchType
    FROM name_usage_archive u
      LEFT JOIN name_usage_archive_match m ON m.dataset_key=u.dataset_key AND m.usage_id=u.id
      LEFT JOIN names_index ni ON m.index_id=ni.id
    WHERE u.dataset_key=#{datasetKey}
    ORDER BY ni.canonical_id, ni.id
  </select>

  <select id="processArchivedNames" parameterType="map" resultMap="life.catalogue.db.mapper.NameMapper.nameResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT
      u.id AS id,
      u.dataset_key,
      <!-- Name mappings -->
      u.n_rank AS rank,
      u.n_candidatus AS candidatus,
      u.n_notho AS notho,
      u.n_code AS code,
      u.n_nom_status AS nom_status,
      u.n_original_spelling AS original_spelling,
      u.n_gender_agreement AS gender_agreement,
      u.n_gender AS gender,
      u.n_origin AS origin,
      u.n_type AS type,
      u.n_scientific_name AS scientific_name,
      u.n_authorship AS authorship,
      u.n_uninomial AS uninomial,
      u.n_genus AS genus,
      u.n_infrageneric_epithet AS infrageneric_epithet,
      u.n_specific_epithet AS specific_epithet,
      u.n_infraspecific_epithet AS infraspecific_epithet,
      u.n_cultivar_epithet AS cultivar_epithet,
      u.n_basionym_authors AS basionym_authors,
      u.n_basionym_ex_authors AS basionym_ex_authors,
      u.n_basionym_year AS basionym_year,
      u.n_combination_authors AS combination_authors,
      u.n_combination_ex_authors AS combination_ex_authors,
      u.n_combination_year AS combination_year,
      u.n_sanctioning_author AS sanctioning_author,
      u.n_published_in_id AS published_in_id,
      u.n_published_in_page AS published_in_page,
      u.n_nomenclatural_note AS nomenclatural_note,
      u.n_unparsed AS unparsed,
      u.n_identifier AS identifier,
      u.n_link AS link,
      u.n_remarks AS remarks,
      <!-- name match -->
      m.index_id AS namesIndexId,
      m.type AS namesIndexType

    FROM name_usage_archive u
      LEFT JOIN name_usage_archive_match m ON m.dataset_key=u.dataset_key AND m.usage_id=u.id
    <where>
      <if test="datasetKey != null">u.dataset_key=#{datasetKey}</if>
      <if test="onlyMissing">AND m.type IS NULL</if>
    </where>
  </select>

</mapper>
