<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.CitationMapper">

  <sql id="SELECT">
    c.dataset_key,
    c.id,
    c.type,
    c.doi,
    c.author,
    c.editor,
    c.title,
    c.container_author,
    c.container_title,
    c.issued,
    c.accessed,
    c.collection_editor,
    c.collection_title,
    c.volume,
    c.issue,
    c.edition,
    c.page,
    c.publisher,
    c.publisher_place,
    c.version,
    c.isbn,
    c.issn,
    c.url,
    c.note
  </sql>

  <sql id="COLS">
    id,
    type,
    doi,
    author,
    editor,
    title,
    container_author,
    container_title,
    issued,
    accessed,
    collection_editor,
    collection_title,
    volume,
    issue,
    edition,
    page,
    publisher,
    publisher_place,
    version,
    isbn,
    issn,
    url,
    note
  </sql>

  <sql id="PROPS">
    #{obj.id},
    #{obj.type},
    #{obj.doi},
    #{obj.author, typeHandler=life.catalogue.db.type.CslNameArrayTypeHandler}::cslname[],
    #{obj.editor, typeHandler=life.catalogue.db.type.CslNameArrayTypeHandler}::cslname[],
    #{obj.title},
    #{obj.containerAuthor, typeHandler=life.catalogue.db.type.CslNameArrayTypeHandler}::cslname[],
    #{obj.containerTitle},
    #{obj.issued},
    #{obj.accessed},
    #{obj.collectionEditor, typeHandler=life.catalogue.db.type.CslNameArrayTypeHandler}::cslname[],
    #{obj.collectionTitle},
    #{obj.volume},
    #{obj.issue},
    #{obj.edition},
    #{obj.page},
    #{obj.publisher},
    #{obj.publisherPlace},
    #{obj.version},
    #{obj.isbn},
    #{obj.issn},
    #{obj.url},
    #{obj.note}
  </sql>

  <resultMap id="citationResultMap" type="Citation" autoMapping="true">
    <id property="id" column="id"/>
    <result property="author" column="author" typeHandler="life.catalogue.db.type.CslNameArrayTypeHandler"/>
    <result property="editor" column="editor" typeHandler="life.catalogue.db.type.CslNameArrayTypeHandler"/>
    <result property="containerAuthor" column="container_author" typeHandler="life.catalogue.db.type.CslNameArrayTypeHandler"/>
    <result property="collectionEditor" column="collection_editor" typeHandler="life.catalogue.db.type.CslNameArrayTypeHandler"/>
  </resultMap>

  <select id="list" resultMap="citationResultMap">
    SELECT <include refid="SELECT"/>
    FROM dataset_citation c
    WHERE dataset_key = #{datasetKey}
    ORDER BY issued, title
  </select>

  <insert id="create" parameterType="map">
    INSERT INTO dataset_citation (dataset_key, <include refid="COLS"/>)
    VALUES (#{datasetKey}, <include refid="PROPS"/>)
  </insert>

  <delete id="delete" parameterType="map">
    DELETE FROM dataset_citation
    WHERE dataset_key = #{datasetKey}
  </delete>


  <select id="listArchive" resultMap="citationResultMap">
    SELECT <include refid="SELECT"/>
    FROM dataset_archive_citation c
    WHERE dataset_key = #{datasetKey} AND attempt=#{attempt}
    ORDER BY issued, title
  </select>

  <insert id="createArchive" parameterType="map">
    INSERT INTO dataset_archive_citation (attempt, dataset_key, <include refid="COLS"/>)
    SELECT d.attempt, <include refid="SELECT"/>
    FROM dataset_citation c join dataset d ON d.key=c.dataset_key
    WHERE c.dataset_key = #{datasetKey}
  </insert>

  <delete id="deleteArchive" parameterType="map">
    DELETE FROM dataset_archive_citation
    WHERE dataset_key = #{datasetKey}
  </delete>



  <select id="listRelease" resultMap="citationResultMap">
    SELECT <include refid="SELECT"/>
    FROM dataset_source_citation c
    WHERE dataset_key = #{datasetKey} AND release_key = #{releaseKey}
    ORDER BY issued, title
  </select>

  <insert id="createRelease" parameterType="map">
    INSERT INTO dataset_source_citation (release_key, dataset_key, <include refid="COLS"/>)
    SELECT #{releaseKey}, <include refid="SELECT"/>
    FROM dataset_archive_citation c
    WHERE dataset_key = #{datasetKey} and attempt=#{attempt}
  </insert>

  <delete id="deleteByRelease" parameterType="map">
    DELETE FROM dataset_source_citation
    WHERE release_key = #{releaseKey}
  </delete>

</mapper>
