<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DatasetPartitionMapper">

  <update id="createPartition" parameterType="map">
    CREATE TABLE ${table}_mod${remainder} PARTITION OF ${table} FOR VALUES WITH (modulus ${modulus}, remainder ${remainder});
  </update>

  <update id="createIdMapTable" parameterType="map">
    CREATE TABLE ${table}_${key} (
      id TEXT PRIMARY KEY,
      id2 TEXT NOT NULL UNIQUE
    )
  </update>

  <update id="createIdSequence" parameterType="map">
    CREATE SEQUENCE IF NOT EXISTS ${table}_${key}_id_seq START 1
  </update>

  <update id="updateIdSequence" parameterType="map">
    SELECT setval('${table}_${key}_id_seq', (SELECT COALESCE(max(id),1) AS id FROM ${table} WHERE dataset_key = #{key}))
  </update>

  <delete id="deleteIdSequence" parameterType="map">
    DROP SEQUENCE IF EXISTS ${table}_${key}_id_seq
  </delete>

  <update id="attachTable" parameterType="map">
    ALTER TABLE ${table} ATTACH PARTITION ${table}_${key} FOR VALUES IN ( ${key} )
  </update>

  <update id="detachTable" parameterType="map">
    ALTER TABLE ${table} DETACH PARTITION ${table}_${key}
  </update>

  <select id="updateUsageCounter" parameterType="map" resultType="int">
    DELETE FROM usage_count WHERE dataset_key=#{key};
    INSERT INTO usage_count (dataset_key, counter) VALUES (${key}, (SELECT count(*) FROM name_usage WHERE dataset_key = ${key}));
    SELECT counter FROM usage_count WHERE dataset_key=#{key};
  </select>

  <update id="attachTriggers" parameterType="map">
    CREATE TRIGGER trg_name_usage_${suffix}_insert
    AFTER INSERT ON name_usage_${suffix}
    REFERENCING NEW TABLE AS inserted
    FOR EACH STATEMENT
    EXECUTE FUNCTION track_usage_count();

    CREATE TRIGGER trg_name_usage_${suffix}_delete
    AFTER DELETE ON name_usage_${suffix}
    REFERENCING OLD TABLE AS deleted
    FOR EACH STATEMENT
    EXECUTE FUNCTION track_usage_count();
  </update>

  <update id="deleteData">
    DELETE FROM ${table} WHERE dataset_key=#{key};
  </update>

  <update id="dropTable" parameterType="map">
    DROP TABLE IF EXISTS ${table}_${key} CASCADE;
    DROP SEQUENCE IF EXISTS ${table}_${key}_id_seq;
  </update>

  <update id="deleteUsageCounter" parameterType="map">
    DELETE FROM usage_count WHERE dataset_key=#{key};
  </update>

  <select id="columns" resultType="string">
    SELECT column_name FROM information_schema.columns
    WHERE table_name = #{t} AND column_name NOT IN('doc')
  </select>

</mapper>
