<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DatasetPatchMapper">

  <sql id="SELECT">
    d.key,
    d.type,
    d.title,
    d.description,
    d.organisations,
    d.contact,
    d.authors,
    d.editors,
    d.license,
    d.version,
    d.released,
    d.citation,
    d.geographic_scope,
    d.website,
    d.logo,
    d.alias,
    d."group",
    d.confidence,
    d.completeness,
    d.created,
    d.created_by,
    d.modified,
    d.modified_by
  </sql>

  <sql id="COLS">
    type,
    title,
    description,
    organisations,
    contact,
    authors,
    editors,
    license,
    version,
    released,
    citation,
    geographic_scope,
    website,
    logo,
    alias,
    "group",
    confidence,
    completeness,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{obj.type}::datasettype,
    #{obj.title},
    #{obj.description},
    #{obj.organisations, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{obj.contact, typeHandler=life.catalogue.db.type.PersonTypeHandler},
    #{obj.authors, typeHandler=life.catalogue.db.type.PersonArrayTypeHandler},
    #{obj.editors, typeHandler=life.catalogue.db.type.PersonArrayTypeHandler},
    #{obj.license}::LICENSE,
    #{obj.version},
    #{obj.released},
    #{obj.citation},
    #{obj.geographicScope},
    #{obj.website},
    #{obj.logo},
    #{obj.alias},
    #{obj.group},
    #{obj.confidence},
    #{obj.completeness},
    #{obj.createdBy},
    #{obj.modifiedBy}
  </sql>

  <select id="processDataset" parameterType="map" resultMap="life.catalogue.db.mapper.DatasetMapper.datasetResultMap" resultOrdered="true" fetchSize="100"
          resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM dataset_patch d
    WHERE dataset_key = #{datasetKey}
  </select>

  <select id="get" resultMap="life.catalogue.db.mapper.DatasetMapper.datasetResultMap">
    SELECT <include refid="SELECT"/>
    FROM dataset_patch d
    WHERE key = #{key} and dataset_key = #{datasetKey}
  </select>

  <insert id="create" parameterType="Dataset" useGeneratedKeys="false">
    INSERT INTO dataset_patch ( key, dataset_key,<include refid="COLS"/>, created, modified)
    VALUES ( #{obj.key}, #{datasetKey},<include refid="PROPS"/>, now(), now())
  </insert>

  <update id="update" parameterType="Dataset">
    UPDATE dataset_patch
    SET (<include refid="COLS"/>, modified)
    = (<include refid="PROPS"/>, now())
    WHERE key = #{obj.key} and dataset_key = #{datasetKey}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM dataset_patch
    WHERE key = #{key} and dataset_key = #{datasetKey}
  </delete>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM dataset_patch WHERE dataset_key = #{datasetKey}
  </delete>

</mapper>
