<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DatasetExportMapper">

  <!--
   The generic job lifecycle (status, error, timestamps, user, result md5/size and the result_deleted cleanup flag)
   lives in the job table and is joined in via the shared key. Only the export request and result metrics are stored here.
  -->
  <sql id="SELECT">
    de.key,
    de.dataset_key,
    de.format,
    de.tab_format,
    de.extended,
    de.add_classification,
    de.add_tax_group,
    de.extinct,
    de.excel,
    de.root,
    de.synonyms,
    de.bare_names,
    de.min_rank,
    de.attempt,
    de.classification,
    de.truncated,
    de.synonym_count,
    de.taxon_count,
    de.taxa_by_rank_count,
    j.status,
    j.error,
    j.started,
    j.finished,
    j.created,
    j.created_by,
    j.result_md5 AS md5,
    j.result_size AS size,
    j.result_deleted AS deleted
  </sql>

  <sql id="COLS">
    key,
    dataset_key,
    format,
    tab_format,
    extended,
    add_classification,
    add_tax_group,
    extinct,
    excel,
    root,
    synonyms,
    bare_names,
    min_rank,
    attempt,
    classification,
    truncated,
    synonym_count,
    taxon_count,
    taxa_by_rank_count
  </sql>

  <sql id="PROPS">
    #{key},
    #{request.datasetKey},
    #{request.format}::DATAFORMAT,
    #{request.tabFormat}::TABFORMAT,
    #{request.extended},
    coalesce(#{request.classification}, false),
    coalesce(#{request.taxGroups}, false),
    #{request.extinct},
    #{request.excel},
    #{request.root, typeHandler=life.catalogue.db.type2.SimpleNameTypeHandler}::SIMPLE_NAME,
    #{request.synonyms},
    #{request.bareNames},
    #{request.minRank}::RANK,
    #{attempt},
    #{classification, typeHandler=life.catalogue.db.type2.SimpleNameArrayTypeHandler}::SIMPLE_NAME[],
    #{truncated, typeHandler=life.catalogue.db.type2.TermSetTypeHandler}::TEXT[],
    #{synonymCount},
    #{taxonCount},
    #{taxaByRankCount, typeHandler=life.catalogue.db.type2.HstoreRankCountTypeHandler}::hstore
  </sql>

  <sql id="FROM">
    dataset_export de JOIN job j ON j.key = de.key
  </sql>

  <resultMap id="datasetExportResultMap" type="DatasetExport" autoMapping="true">
    <id property="key" column="key"/>
    <result property="taxaByRankCount" column="taxa_by_rank_count" typeHandler="life.catalogue.db.type2.HstoreRankCountTypeHandler"/>
    <result property="classification" column="classification" typeHandler="life.catalogue.db.type2.SimpleNameArrayTypeHandler"/>
    <result property="truncated" column="truncated" typeHandler="life.catalogue.db.type2.TermSetTypeHandler"/>
    <!-- generic lifecycle joined from the job record -->
    <result property="created" column="created"/>
    <result property="createdBy" column="created_by"/>
    <result property="modified" column="created"/>
    <result property="modifiedBy" column="created_by"/>
    <association property="request" javaType="ExportRequest" resultMap="life.catalogue.db.mapper.DatasetExportMapper.exportRequestResultMap"/>
  </resultMap>

  <resultMap id="exportRequestResultMap" type="ExportRequest" autoMapping="true">
    <id column="key"/>
    <result property="root" column="root" typeHandler="life.catalogue.db.type2.SimpleNameTypeHandler"/>
    <result property="classification" column="add_classification"/>
  </resultMap>


  <select id="get" resultMap="datasetExportResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE de.key=#{key}
  </select>

  <insert id="create" parameterType="DatasetExport">
    INSERT INTO dataset_export (<include refid="COLS"/>)
    VALUES (<include refid="PROPS"/>)
  </insert>

  <update id="update" parameterType="DatasetExport">
    UPDATE dataset_export
    SET (<include refid="COLS"/>) = (<include refid="PROPS"/>)
    WHERE key=#{key}
  </update>

  <delete id="delete" parameterType="map">
    UPDATE job SET result_deleted = now()
    WHERE result_deleted IS NULL AND key=#{key}
  </delete>

  <select id="processDataset" parameterType="map" resultMap="datasetExportResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE j.result_deleted IS NULL AND de.dataset_key = #{datasetKey}
  </select>

  <delete id="deleteByDataset" parameterType="map">
    UPDATE job SET result_deleted = now()
    WHERE result_deleted IS NULL AND key IN (SELECT key FROM dataset_export WHERE dataset_key = #{datasetKey})
  </delete>


  <sql id="WHERE">
    <where>
      j.result_deleted IS NULL
      <if test="req.datasetKey != null">AND de.dataset_key = #{req.datasetKey}</if>
      <if test="req.createdBy != null">AND j.created_by = #{req.createdBy}</if>
      <if test="req.status != null and !req.status.isEmpty()">
        AND j.status IN <foreach item="st" collection="req.status" open="(" separator="," close=")">#{st}::JOBSTATUS</foreach>
      </if>
      <if test="req.format != null">AND de.format = #{req.format}::DATAFORMAT</if>
      AND <if test="req.taxonID == null">de.root IS NULL</if><if test="req.taxonID != null">(de.root).id = #{req.taxonID}</if>
      AND de.min_rank <if test="req.minRank == null">IS NULL</if><if test="req.minRank != null">= #{req.minRank}::RANK</if>
      <if test="req.synonyms != null">AND de.synonyms = #{req.synonyms}</if>
      <if test="req.bareNames != null">AND de.bare_names = #{req.bareNames}</if>
      <if test="req.excel != null">AND de.excel = #{req.excel}</if>
      <if test="req.extended != null">AND de.extended = #{req.extended}</if>
      AND <if test="req.extinct == null">de.extinct IS NULL</if><if test="req.extinct != null">de.extinct = #{req.extinct}</if>
      <if test="req.classification != null">AND de.add_classification = #{req.classification}</if>
      <if test="req.taxGroups != null">AND de.add_tax_group = #{req.taxGroups}</if>
    </where>
  </sql>


  <select id="count" resultType="integer">
    SELECT count(*)
    FROM <include refid="FROM"/>
    <include refid="WHERE"/>
  </select>

  <select id="search" resultMap="datasetExportResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    <include refid="WHERE"/>
    ORDER BY j.created DESC
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

</mapper>
