<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DatasetExportMapper">

  <sql id="SELECT">
    de.key,
    de.dataset_key,
    de.format,
    de.excel,
    de.root,
    de.synonyms,
    de.min_rank,
    de.created_by,
    de.modified_by,
    de.attempt,
    de.started,
    de.finished,
    de.deleted,
    de.classification,
    de.status,
    de.error,
    de.truncated,
    de.md5,
    de.size,
    de.synonym_count,
    de.taxon_count,
    de.taxa_by_rank_count,
    de.created,
    de.modified
  </sql>

  <sql id="COLS">
    key,
    dataset_key,
    format,
    excel,
    root,
    synonyms,
    min_rank,
    created_by,
    modified_by,
    attempt,
    started,
    finished,
    deleted,
    classification,
    status,
    error,
    truncated,
    md5,
    size,
    synonym_count,
    taxon_count,
    taxa_by_rank_count
  </sql>

  <sql id="PROPS">
    #{key},
    #{request.datasetKey},
    #{request.format}::DATAFORMAT,
    #{request.excel},
    #{request.root, typeHandler=life.catalogue.db.type2.SimpleNameTypeHandler}::SIMPLE_NAME,
    #{request.synonyms},
    #{request.minRank}::RANK,
    #{createdBy},
    #{modifiedBy},
    #{attempt},
    #{started},
    #{finished},
    #{deleted},
    #{classification, typeHandler=life.catalogue.db.type2.SimpleNameArrayTypeHandler}::SIMPLE_NAME[],
    #{status}::JOBSTATUS,
    #{error},
    #{truncated, typeHandler=life.catalogue.db.type2.TermSetTypeHandler}::TEXT[],
    #{md5},
    #{size},
    #{synonymCount},
    #{taxonCount},
    #{taxaByRankCount, typeHandler=life.catalogue.db.type2.HstoreRankCountTypeHandler}::hstore
  </sql>

  <sql id="FROM">
    dataset_export de
  </sql>

  <resultMap id="datasetExportResultMap" type="DatasetExport" autoMapping="true">
    <result property="taxaByRankCount" column="taxa_by_rank_count" typeHandler="life.catalogue.db.type2.HstoreRankCountTypeHandler"/>
    <result property="classification" column="classification" typeHandler="life.catalogue.db.type2.SimpleNameArrayTypeHandler"/>
    <result property="truncated" column="truncated" typeHandler="life.catalogue.db.type2.TermSetTypeHandler"/>
    <association property="request" javaType="ExportRequest" resultMap="life.catalogue.db.mapper.DatasetExportMapper.exportRequestResultMap"/>
  </resultMap>

  <resultMap id="exportRequestResultMap" type="ExportRequest" autoMapping="true">
    <result property="root" column="root" typeHandler="life.catalogue.db.type2.SimpleNameTypeHandler"/>
  </resultMap>


  <select id="get" resultMap="datasetExportResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE key=#{key}
  </select>

  <insert id="create" parameterType="DatasetExport">
    INSERT INTO dataset_export (<include refid="COLS"/>, created)
    VALUES (<include refid="PROPS"/>, #{created})
  </insert>

  <update id="update" parameterType="DatasetExport">
    UPDATE dataset_export
    SET (<include refid="COLS"/>, modified) = (<include refid="PROPS"/>, now())
    WHERE key=#{key}
  </update>

  <delete id="delete" parameterType="map">
    UPDATE dataset_export SET deleted = now()
    WHERE deleted IS NULL AND key=#{key}
  </delete>

  <select id="processDataset" parameterType="map" resultMap="datasetExportResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE de.deleted IS NULL AND de.dataset_key = #{datasetKey}
  </select>

  <delete id="deleteByDataset" parameterType="map">
    UPDATE dataset_export SET deleted = now()
    WHERE deleted IS NULL AND dataset_key = #{datasetKey}
  </delete>


  <sql id="WHERE">
    <where>
      de.deleted IS NULL
      <if test="req.datasetKey != null">AND de.dataset_key = #{req.datasetKey}</if>
      <if test="req.createdBy != null">AND de.created_by = #{req.createdBy}</if>
      <if test="req.status != null and !req.status.isEmpty()">
        AND de.status IN <foreach item="st" collection="req.status" open="(" separator="," close=")">#{st}::JOBSTATUS</foreach>
      </if>
      <if test="req.format != null">AND de.format = #{req.format}::DATAFORMAT</if>
      AND <if test="req.taxonID == null">de.root IS NULL</if><if test="req.taxonID != null">(de.root).id = #{req.taxonID}</if>
      AND de.min_rank <if test="req.minRank == null">IS NULL</if><if test="req.minRank != null">= #{req.minRank}::RANK</if>
      <if test="req.excel != null">AND de.excel = #{req.excel}</if>
      <if test="req.synonyms != null">AND de.synonyms = #{req.synonyms}</if>
    </where>
  </sql>

  <select id="count" resultType="integer">
    SELECT count(*)
    FROM <include refid="FROM"/>
    <include refid="WHERE"/>
  </select>

  <select id="search" resultMap="datasetExportResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    <include refid="WHERE"/>
    ORDER BY de.created DESC
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

</mapper>
