<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DatasetArchiveMapper">

  <sql id="SELECT">
    <include refid="life.catalogue.db.mapper.DatasetPatchMapper.SELECT"/>,
    d.attempt,
    d.origin,
    d.type,
    d.source_key,
    di.finished AS imported
  </sql>

  <sql id="COLS">
    type,
    <include refid="life.catalogue.db.mapper.DatasetPatchMapper.COLS"/>
  </sql>

  <sql id="PROPS">
    #{type}::datasettype,
    <!--
    DatasetPatchMapper.PROPS uses obj. prefix so we cannot share the list
    But we need to make sure we have the same order so the COLS match up!
    -->
    #{doi, typeHandler=life.catalogue.db.type.DoiTypeHandler},
    #{identifier, typeHandler=life.catalogue.db.type2.HstoreMapTypeHandler}::hstore,
    #{title},
    #{alias},
    #{description},
    #{issued},
    #{version},
    #{issn},
    #{contact, typeHandler=life.catalogue.db.type.AgentTypeHandler},
    #{creator, typeHandler=life.catalogue.db.type.AgentArrayTypeHandler},
    #{editor, typeHandler=life.catalogue.db.type.AgentArrayTypeHandler},
    #{publisher, typeHandler=life.catalogue.db.type.AgentTypeHandler},
    #{contributor, typeHandler=life.catalogue.db.type.AgentArrayTypeHandler},
    #{geographicScope},
    #{taxonomicScope},
    #{temporalScope},
    #{confidence},
    #{completeness},
    #{license}::LICENSE,
    #{url},
    #{logo},
    #{notes},
    #{createdBy},
    #{modifiedBy}
  </sql>

  <sql id="FROM">
    dataset_archive d LEFT JOIN dataset_import di ON d.attempt=di.attempt AND d.key=di.dataset_key
  </sql>

  <select id="get" resultMap="life.catalogue.db.mapper.DatasetMapper.datasetResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.key = #{key} AND d.attempt = #{attempt}
  </select>

  <insert id="create" parameterType="map">
    INSERT INTO dataset_archive (key, attempt, <include refid="COLS"/>, source_key, origin, created, modified)
    SELECT key, attempt, <include refid="COLS"/>, source_key, origin, now(), now()
    FROM dataset d
    WHERE d.key = #{key}
  </insert>

  <select id="processDataset" parameterType="map" resultMap="life.catalogue.db.mapper.DatasetMapper.datasetResultMap" resultOrdered="true" fetchSize="100" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.key = #{datasetKey}
  </select>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM dataset_archive WHERE key = #{datasetKey};
  </delete>

</mapper>
