<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DecisionMapper">

  <sql id="SelectVar">
    ${alias}key AS ${prefix}key,
    ${alias}dataset_key AS ${prefix}dataset_key,
    ${alias}subject_dataset_key AS ${prefix}subject_dataset_key,
    ${alias}subject_id AS ${prefix}subject_id,
    ${alias}subject_name AS ${prefix}subject_name,
    ${alias}subject_authorship AS ${prefix}subject_authorship,
    ${alias}subject_rank AS ${prefix}subject_rank,
    ${alias}subject_code AS ${prefix}subject_code,
    ${alias}subject_status AS ${prefix}subject_status,
    ${alias}subject_parent AS ${prefix}subject_parent,
    ${alias}note AS ${prefix}note,
    ${alias}modified AS ${prefix}modified,
    ${alias}modified_by AS ${prefix}modified_by,
    ${alias}created AS ${prefix}created,
    ${alias}created_by AS ${prefix}created_by,
    ${alias}mode AS ${prefix}mode,
    ${alias}name AS ${prefix}name,
    ${alias}status AS ${prefix}status,
    ${alias}extinct AS ${prefix}extinct,
    ${alias}temporal_range_start AS ${prefix}temporal_range_start,
    ${alias}temporal_range_end AS ${prefix}temporal_range_end,
    ${alias}lifezones AS ${prefix}lifezones
  </sql>

  <sql id="SELECT">
    <include refid="life.catalogue.db.mapper.DecisionMapper.SelectVar">
      <property name="alias" value="ed."/>
      <property name="prefix" value=""/>
    </include>
  </sql>

  <sql id="COLS">
    dataset_key,
    subject_dataset_key,
    subject_id,
    subject_name,
    subject_authorship,
    subject_rank,
    subject_code,
    subject_status,
    subject_parent,
    note,
    modified,
    modified_by,
    mode,
    name,
    status,
    extinct,
    temporal_range_start,
    temporal_range_end,
    lifezones
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{subjectDatasetKey},
    #{subject.id},
    #{subject.name},
    #{subject.authorship},
    #{subject.rank}::RANK,
    #{subject.code}::NOMCODE,
    #{subject.status}::TAXONOMICSTATUS,
    #{subject.parent},
    #{note},
    now(),
    #{modifiedBy},
    #{mode}::EDITORIALDECISION_MODE,
    #{name, typeHandler=life.catalogue.db.type2.JsonNameHandler}::jsonb,
    #{status}::TAXONOMICSTATUS,
    #{extinct},
    #{temporalRangeStart},
    #{temporalRangeEnd},
    #{lifezones, typeHandler=life.catalogue.db.type.LifezoneSetTypeHandler}
  </sql>

  <resultMap id="decisionResultMap" type="EditorialDecision" autoMapping="true">
    <id property="key" column="key" />
    <result property="name" column="name" typeHandler="life.catalogue.db.type2.JsonNameHandler" />
    <result property="lifezones" column="lifezones" typeHandler="life.catalogue.db.type.LifezoneSetTypeHandler" />
    <association property="subject" javaType="SimpleName" autoMapping="true" columnPrefix="subject_" />
  </resultMap>

  <select id="list" resultMap="decisionResultMap">
    SELECT <include refid="SELECT" />
    FROM decision ed
    ORDER BY ed.key
    <include refid="life.catalogue.db.Common.limit" />
  </select>

  <sql id="WHERE">
    <if test="req != null">
      <if test="req.broken">
        LEFT JOIN name_usage t ON t.dataset_key=ed.subject_dataset_key AND t.id=ed.subject_id
      </if>
      <where>
        <if test="req.broken">
          t.id IS NULL
        </if>
        <if test="req.id != null">
          AND ed.subject_id = #{req.id}
        </if>
        <if test="req.datasetKey != null">
          AND ed.dataset_key = #{req.datasetKey}
        </if>
        <if test="req.subjectDatasetKey != null">
          AND ed.subject_dataset_key = #{req.subjectDatasetKey}
        </if>
        <if test="req.rank != null">
          AND ed.subject_rank = #{req.rank}::RANK
        </if>
        <if test="req.userKey != null">
          AND ed.modified_by = #{req.userKey}
        </if>
      </where>
    </if>
  </sql>

  <select id="countSearch" resultType="integer">
  SELECT count(*) FROM decision ed
  <include refid="WHERE"/>
</select>

  <select id="search" resultMap="decisionResultMap">
    SELECT <include refid="SELECT" />
    FROM decision ed
    <include refid="WHERE"/>
    ORDER BY ed.key desc
    <include refid="life.catalogue.db.Common.limit" />
  </select>

  <select id="get" resultMap="decisionResultMap">
    SELECT <include refid="SELECT" />
    FROM decision ed
    WHERE key = #{key}
  </select>

  <select id="getBySubject" resultMap="decisionResultMap">
    SELECT <include refid="SELECT" />
    FROM decision ed
    WHERE ed.subject_dataset_key = #{subjectDatasetKey}
      AND ed.dataset_key = #{datasetKey}
      AND ed.subject_id = #{id}
  </select>

  <insert id="create" parameterType="EditorialDecision" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO decision ( <include refid="COLS" />, created_by )
    VALUES ( <include refid="PROPS" />, #{createdBy} )
  </insert>

  <update id="update" parameterType="EditorialDecision">
    UPDATE decision
    SET (<include refid="COLS" />) = (<include refid="PROPS" />)
    WHERE key = #{key}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM decision
    WHERE key = #{key}
  </delete>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM decision WHERE dataset_key = #{datasetKey}
  </delete>

  <select id="processDataset" parameterType="map" resultMap="decisionResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT" />
    FROM decision ed
    WHERE dataset_key=#{datasetKey}
  </select>

  <select id="processDecisions" parameterType="map" resultMap="decisionResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT" />
    FROM decision ed
    WHERE subject_dataset_key = #{subjectDatasetKey} AND dataset_key = #{datasetKey}
  </select>
</mapper>
