<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.DistributionMapper">

  <sql id="SELECT">
    d.id,
    d.taxon_id,
    d.dataset_key,
    d.verbatim_key,
    d.area,
    d.gazetteer,
    d.status,
    d.reference_id,
    d.created,
    d.created_by,
    d.modified,
    d.modified_by,
    d.gazetteer = 'TEXT' as istext
  </sql>

  <sql id="COLS">
    dataset_key,
    sector_key,
    taxon_id,
    <include refid="COLS_COPY"/>
  </sql>

  <sql id="COLS_COPY">
    verbatim_key,
    area,
    gazetteer,
    status,
    reference_id,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{obj.datasetKey},
    #{obj.sectorKey},
    #{taxonId},
    #{obj.verbatimKey},
    coalesce(#{obj.area.id}, #{obj.area.name}),
    #{obj.area.gazetteer}::GAZETTEER,
    #{obj.status}::DISTRIBUTIONSTATUS,
    #{obj.referenceId},
    #{obj.createdBy},
    #{obj.modifiedBy}
  </sql>

  <sql id="FROM">distribution d</sql>

  <!-- A mapping to Distribution, mostly auto mapped -->
  <resultMap id="distributionResultMap" type="Distribution" autoMapping="true">
    <id property="id" column="id"/>
    <association property="area" javaType="life.catalogue.api.vocab.AreaImpl">
      <result property="gazetteer" column="gazetteer" />
      <discriminator javaType="boolean" column="istext">
        <case value="true">
          <result property="name" column="area" />
        </case>
        <case value="false">
          <result property="id" column="area" />
        </case>
      </discriminator>
    </association>
  </resultMap>

  <resultMap id="distributionExtResultMap" type="TaxonExtension" autoMapping="true">
    <id column="id"/>
    <result property="taxonID" column="taxon_id"/>
    <association property="obj" autoMapping="true" javaType="Distribution" resultMap="distributionResultMap" />
  </resultMap>

  <select id="listByTaxon" resultMap="distributionResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.dataset_key=#{key.datasetKey} AND d.taxon_id = #{key.id}
    ORDER BY d.id
  </select>

  <select id="get" resultMap="distributionResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.dataset_key=#{key.datasetKey} AND d.id = #{key.id}
  </select>

  <select id="processDataset" parameterType="map" resultMap="distributionExtResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.dataset_key=#{datasetKey}
  </select>

  <insert id="create" parameterType="Distribution" useGeneratedKeys="true" keyProperty="obj.id">
    INSERT INTO distribution (<include refid="COLS"/>, created, modified, id)
    VALUES (<include refid="PROPS"/>, now(), now(), nextval('distribution_${obj.datasetKey}_id_seq'))
  </insert>

  <delete id="deleteByTaxon" parameterType="map">
    DELETE FROM distribution
    WHERE dataset_key = #{key.datasetKey} AND taxon_id = #{key.id}
  </delete>

  <delete id="deleteByTemp" parameterType="map">
    DELETE FROM distribution
    USING _tmp_nu tmp
    WHERE dataset_key=#{datasetKey} AND taxon_id = tmp.uid
  </delete>

  <insert id="copyDataset" parameterType="map">
    INSERT INTO distribution_${newDatasetKey} (dataset_key,taxon_id,id,<include refid="COLS_COPY"/>, created, modified)
    SELECT #{newDatasetKey},coalesce(<if test="mapIds">m.id2,</if>taxon_id),nextval('distribution_${newDatasetKey}_id_seq'),<include refid="COLS_COPY"/>, created, modified
    FROM distribution_${datasetKey} d
    <if test="mapIds">
      LEFT JOIN idmap_name_usage_${datasetKey} m ON m.id=d.taxon_id
    </if>
  </insert>


  <select id="processSector" parameterType="map" resultMap="distributionResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.dataset_key=#{key.datasetKey} AND d.sector_key = #{key.id}
  </select>

  <delete id="deleteBySector" parameterType="map">
    DELETE FROM distribution
    WHERE sector_key=#{key.id} AND dataset_key=#{key.datasetKey}
  </delete>

  <update id="removeSectorKey" parameterType="map">
    UPDATE distribution SET sector_key = NULL
    WHERE dataset_key=#{key.datasetKey} AND sector_key = #{key.id}
  </update>
</mapper>
