<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.IdMapMapper">

  <insert id="insert" parameterType="map">
    INSERT INTO ${table}_${datasetKey} (id, id2) VALUES (#{id}, #{id2})
  </insert>

  <select id="count" parameterType="map" resultType="int">
    SELECT count(*) FROM ${table}_${datasetKey}
  </select>

  <select id="get" parameterType="map" resultType="String">
    SELECT id2 FROM ${table}_${datasetKey} WHERE id=#{id}
  </select>

</mapper>
