<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.MediaMapper">

  <sql id="SELECT">
    m.id,
    m.taxon_id,
    m.dataset_key,
    m.verbatim_key,
    m.url,
    m.type,
    m.format,
    m.title,
    m.captured,
    m.captured_by,
    m.license,
    m.link,
    m.reference_id,
    m.created,
    m.created_by,
    m.modified,
    m.modified_by
  </sql>

  <sql id="COLS">
    dataset_key,
    sector_key,
    taxon_id,
    <include refid="COLS_COPY"/>
  </sql>

  <sql id="COLS_COPY">
    verbatim_key,
    url,
    type,
    format,
    title,
    captured,
    captured_by,
    license,
    link,
    reference_id,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{obj.datasetKey},
    #{obj.sectorKey},
    #{taxonId},
    #{obj.verbatimKey},
    #{obj.url},
    #{obj.type}::MEDIATYPE,
    #{obj.format},
    #{obj.title},
    #{obj.captured},
    #{obj.capturedBy},
    #{obj.license}::LICENSE,
    #{obj.link},
    #{obj.referenceId},
    #{obj.createdBy},
    #{obj.modifiedBy}
  </sql>

  <sql id="FROM">media m</sql>

  <resultMap id="mediaResultMap" type="Media" autoMapping="true">
    <id property="id" column="id"/>
  </resultMap>

  <resultMap id="mediaExtResultMap" type="TaxonExtension" autoMapping="true">
    <id column="id"/>
    <result property="taxonID" column="taxon_id"/>
    <association property="obj" autoMapping="true" javaType="Media">
      <id property="id" column="id"/>
    </association>
  </resultMap>

  <select id="listByTaxon" resultMap="mediaResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE dataset_key=#{key.datasetKey} AND m.taxon_id = #{key.id}
    ORDER BY m.id
  </select>

  <select id="get" resultMap="mediaResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE dataset_key=#{key.datasetKey} AND m.id = #{key.id}
  </select>

  <select id="processDataset" parameterType="map" resultMap="mediaExtResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE dataset_key=#{datasetKey}
  </select>

  <insert id="create" parameterType="Media" useGeneratedKeys="true" keyProperty="obj.id">
    INSERT INTO media (<include refid="COLS"/>, created, modified, id)
    VALUES (<include refid="PROPS"/>, now(), now(), nextval('media_${obj.datasetKey}_id_seq'))
  </insert>

  <delete id="deleteByTaxon" parameterType="map">
    DELETE FROM media
    WHERE dataset_key = #{key.datasetKey} AND taxon_id = #{key.id}
  </delete>

  <delete id="deleteByTemp" parameterType="map">
    DELETE FROM media
    USING _tmp_nu tmp
    WHERE dataset_key=#{datasetKey} AND taxon_id = tmp.uid
  </delete>

  <insert id="copyDataset" parameterType="map">
    INSERT INTO media_${newDatasetKey} (dataset_key, taxon_id, id, <include refid="COLS_COPY"/>, created, modified)
    SELECT #{newDatasetKey},coalesce(<if test="mapIds">m.id2,</if>taxon_id),nextval('media_${newDatasetKey}_id_seq'),<include refid="COLS_COPY"/>, created, modified
    FROM media_${datasetKey} md
    <if test="mapIds">
      LEFT JOIN idmap_name_usage_${datasetKey} m ON m.id=md.taxon_id
    </if>
  </insert>

  <select id="processSector" parameterType="map" resultMap="mediaResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE dataset_key=#{key.datasetKey} AND m.sector_key = #{key.id}
  </select>

  <delete id="deleteBySector" parameterType="map">
    DELETE FROM media
    WHERE sector_key=#{key.id} AND dataset_key=#{key.datasetKey}
  </delete>

  <update id="removeSectorKey" parameterType="map">
    UPDATE media SET sector_key = NULL
    WHERE dataset_key=#{key.datasetKey} AND sector_key = #{key.id}
  </update>

</mapper>
