<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.NameMapper">

  <sql id="minimalNameCols">
    ${alias}.id AS ${prefix}id,
    ${alias}.scientific_name AS ${prefix}scientific_name,
    ${alias}.authorship AS ${prefix}authorship,
    ${alias}.rank AS ${prefix}rank,
    ${alias}.uninomial AS ${prefix}uninomial,
    ${alias}.genus AS ${prefix}genus,
    ${alias}.infrageneric_epithet AS ${prefix}infrageneric_epithet,
    ${alias}.specific_epithet AS ${prefix}specific_epithet,
    ${alias}.infraspecific_epithet AS ${prefix}infraspecific_epithet,
    ${alias}.cultivar_epithet AS ${prefix}cultivar_epithet,
    ${alias}.candidatus AS ${prefix}candidatus,
    ${alias}.notho AS ${prefix}notho,
    ${alias}.basionym_authors AS ${prefix}basionym_authors,
    ${alias}.basionym_ex_authors AS ${prefix}basionym_ex_authors,
    ${alias}.basionym_year AS ${prefix}basionym_year,
    ${alias}.combination_authors AS ${prefix}combination_authors,
    ${alias}.combination_ex_authors AS ${prefix}combination_ex_authors,
    ${alias}.combination_year AS ${prefix}combination_year,
    ${alias}.sanctioning_author AS ${prefix}sanctioning_author,
    ${alias}.code AS ${prefix}code,
    ${alias}.nomenclatural_note AS ${prefix}nomenclatural_note,
    ${alias}.unparsed AS ${prefix}unparsed
  </sql>

  <sql id="nameCols">
    <include refid="life.catalogue.db.mapper.NameMapper.minimalNameCols"/>,
    ${alias}.identifier AS ${prefix}identifier,
    ${alias}.dataset_key AS ${prefix}dataset_key,
    ${alias}.sector_key AS ${prefix}sector_key,
    ${alias}.verbatim_key AS ${prefix}verbatim_key,
    ${alias}.published_in_id AS ${prefix}published_in_id,
    ${alias}.published_in_page AS ${prefix}published_in_page,
    ${alias}.published_in_page_link AS ${prefix}published_in_page_link,
    ${alias}.nom_status AS ${prefix}nom_status,
    ${alias}.origin AS ${prefix}origin,
    ${alias}.type AS ${prefix}type,
    ${alias}.link AS ${prefix}link,
    ${alias}.remarks AS ${prefix}remarks,
    ${alias}.created AS ${prefix}created,
    ${alias}.created_by AS ${prefix}created_by,
    ${alias}.modified AS ${prefix}modified,
    ${alias}.modified_by AS ${prefix}modified_by
  </sql>

  <sql id="nameColsNidx">
    <include refid="life.catalogue.db.mapper.NameMapper.nameCols"/>,
    ${aliasNI}.index_id AS ${prefix}namesIndexId,
    coalesce(${aliasNI}.type,'NONE') AS ${prefix}namesIndexType
  </sql>

  <sql id="SELECT">
    <include refid="life.catalogue.db.mapper.NameMapper.nameCols">
      <property name="alias" value="n"/>
      <property name="prefix" value=""/>
    </include>
  </sql>

  <sql id="SELECT_NIDX">
    <include refid="life.catalogue.db.mapper.NameMapper.nameColsNidx">
      <property name="alias" value="n"/>
      <property name="aliasNI" value="nm"/>
      <property name="prefix" value=""/>
    </include>
  </sql>

  <sql id="COLS">
    dataset_key,
    sector_key,
    id,
    <include refid="COLS_COPY">
      <property name="alias" value=""/>
    </include>
  </sql>

  <sql id="COLS_COPY">
    ${alias}identifier,
    ${alias}verbatim_key,
    ${alias}scientific_name,
    ${alias}scientific_name_normalized,
    ${alias}authorship,
    ${alias}authorship_normalized,
    ${alias}rank,
    ${alias}uninomial,
    ${alias}genus,
    ${alias}infrageneric_epithet,
    ${alias}specific_epithet,
    ${alias}infraspecific_epithet,
    ${alias}cultivar_epithet,
    ${alias}candidatus,
    ${alias}notho,
    ${alias}basionym_authors,
    ${alias}basionym_ex_authors,
    ${alias}basionym_year,
    ${alias}combination_authors,
    ${alias}combination_ex_authors,
    ${alias}combination_year,
    ${alias}sanctioning_author,
    ${alias}published_in_id,
    ${alias}published_in_page,
    ${alias}published_in_page_link,

    ${alias}code,
    ${alias}nom_status,
    ${alias}origin,
    ${alias}type,
    ${alias}link,
    ${alias}nomenclatural_note,
    ${alias}unparsed,
    ${alias}remarks,
    ${alias}created_by,
    ${alias}modified_by
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{sectorKey},
    #{id},
    #{identifier, typeHandler=life.catalogue.db.type2.IdentifierArrayTypeHandler},
    #{verbatimKey},
    #{scientificName},
    #{scientificNameNormalized},
    #{authorship},
    #{authorshipNormalized},
    #{rank}::RANK,
    #{uninomial},
    #{genus},
    #{infragenericEpithet},
    #{specificEpithet},
    #{infraspecificEpithet},
    #{cultivarEpithet},
    #{candidatus},
    #{notho}::NAMEPART,
    #{basionymAuthorship.authors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{basionymAuthorship.exAuthors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{basionymAuthorship.year},
    #{combinationAuthorship.authors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{combinationAuthorship.exAuthors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{combinationAuthorship.year},
    #{sanctioningAuthor},
    #{publishedInId},
    #{publishedInPage},
    #{publishedInPageLink},
    #{code}::NOMCODE,
    #{nomStatus}::NOMSTATUS,
    #{origin}::ORIGIN,
    #{type}::NAMETYPE,
    #{link},
    #{nomenclaturalNote},
    #{unparsed},
    #{remarks},
    #{createdBy},
    #{modifiedBy}
  </sql>

  <sql id="FROM">name n</sql>

  <sql id="FROM_NIDX">name n LEFT JOIN name_match nm ON nm.dataset_key=n.dataset_key AND nm.name_id=n.id</sql>

  <!-- A mapping to Name, mostly auto mapped -->
  <resultMap id="nameResultMap" type="Name" autoMapping="true">
    <id property="id" column="id"/>
    <result property="identifier" column="identifier" typeHandler="life.catalogue.db.type2.IdentifierArrayTypeHandler"/>
    <association property="combinationAuthorship" javaType="Authorship">
      <result property="authors" column="combination_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="exAuthors" column="combination_ex_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="year" column="combination_year"/>
    </association>
    <association property="basionymAuthorship" javaType="Authorship">
      <result property="authors" column="basionym_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="exAuthors" column="basionym_ex_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="year" column="basionym_year"/>
    </association>
  </resultMap>

  <select id="count" resultType="integer">
    SELECT count(*) FROM name WHERE dataset_key=#{datasetKey}
  </select>

  <select id="hasData" resultType="boolean">
    SELECT exists(
      SELECT id FROM <include refid="FROM"/>
      WHERE dataset_key=#{datasetKey}
      LIMIT 1
    )
  </select>

  <select id="list" resultMap="nameResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE n.dataset_key=#{datasetKey}
    ORDER BY id
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

  <select id="listByReference" resultMap="nameResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE n.dataset_key=#{datasetKey} AND n.published_in_id = #{refId}
    ORDER BY id
  </select>

  <select id="get" resultMap="nameResultMap">
    SELECT <include refid="SELECT_NIDX"/>
    FROM <include refid="FROM_NIDX"/>
    WHERE n.dataset_key=#{key.datasetKey} AND n.id = #{key.id}
  </select>

  <select id="getNameIdByUsage" resultType="String">
    SELECT n.id
    FROM name n JOIN name_usage u ON u.name_id=n.id AND u.dataset_key=n.dataset_key
    WHERE u.dataset_key=#{datasetKey} AND u.id = #{usageId}
  </select>

  <select id="getByUsage" resultMap="nameResultMap">
    SELECT <include refid="SELECT_NIDX"/>
    FROM <include refid="FROM_NIDX"/>
      JOIN name_usage u ON u.name_id=n.id AND u.dataset_key=n.dataset_key
    WHERE u.dataset_key=#{datasetKey} AND u.id = #{usageId}
  </select>

  <select id="listByIds" resultMap="nameResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE n.dataset_key=#{datasetKey} AND n.id IN
    <foreach item="k" collection="ids" open="(" separator="," close=")">#{k}</foreach>
  </select>

  <select id="ambiguousRankNameIds" resultType="string">
    SELECT id
    FROM <include refid="FROM"/>
    WHERE n.dataset_key=#{datasetKey} AND rank = ANY(ambiguousRanks())
    <if test="sectorKey">
      AND sector_key = #{sectorKey}
    </if>
  </select>

  <select id="processNameStrings" resultType="String" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    SELECT concat_ws(' ', scientific_name, authorship)
    FROM <include refid="FROM"/>
    WHERE n.dataset_key=#{datasetKey}
    <if test="sectorKey != null">
      AND sector_key = #{sectorKey}
    </if>
    ORDER BY scientific_name, authorship
  </select>

  <select id="indexGroup" resultMap="nameResultMap">
    SELECT <include refid="SELECT_NIDX"/>
    FROM name_match nm
      JOIN name n ON n.id=nm.name_id AND n.dataset_key=nm.dataset_key
    WHERE nm.index_id = #{id}
  </select>

  <insert id="create" parameterType="Name" useGeneratedKeys="false" keyProperty="id">
    INSERT INTO name (<include refid="COLS"/>, created, modified)
    VALUES (<include refid="PROPS"/>, now(), now())
  </insert>

  <insert id="copyDataset" parameterType="map">
    INSERT INTO name (dataset_key,sector_key,id,<include refid="COLS_COPY"><property name="alias" value=""/></include>, created, modified)
    SELECT #{newDatasetKey},n.sector_key,coalesce(<if test="mapIds">m.id2,</if>n.id),<include refid="COLS_COPY"><property name="alias" value="n."/></include>, n.created, n.modified
    FROM name n
    <if test="mapIds">
      LEFT JOIN idmap_name_${datasetKey} m ON m.id=n.id
    </if>
    WHERE dataset_key = #{datasetKey}
  </insert>

  <update id="update" parameterType="Name" keyProperty="id">
    UPDATE name
    SET (<include refid="COLS"/>, created, modified) = (<include refid="PROPS"/>, now(), now())
    WHERE dataset_key=#{datasetKey} AND id = #{id}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM name
    WHERE id = #{key.id} AND dataset_key=#{key.datasetKey}
  </delete>

  <sql id="orphanWhere">
    WHERE NOT EXISTS (
      SELECT NULL
      FROM name_usage u
      WHERE n.id = u.name_id AND n.dataset_key=u.dataset_key
    )
    <if test="before!=null">
      AND n.modified &lt; #{before}
    </if>
  </sql>

  <delete id="deleteBySectorAndRank" parameterType="map">
    DELETE FROM name
    WHERE dataset_key = #{key.datasetKey} AND sector_key = #{key.id} AND rank >= #{rank}::rank
    <if test="nameIds != null and !nameIds.isEmpty()">
      AND id NOT IN
      <foreach item="id" collection="nameIds" open="(" separator="," close=")">#{id}</foreach>
    </if>
  </delete>

  <delete id="deleteOrphans" parameterType="map">
    DELETE FROM name n
    <include refid="orphanWhere"/>
    AND dataset_key=#{datasetKey}
  </delete>

  <select id="listOrphans" parameterType="map" resultMap="nameResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    <include refid="orphanWhere"/>
    AND dataset_key=#{datasetKey}
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

  <select id="listUnmatch" parameterType="map" resultMap="nameResultMap">
    SELECT <include refid="SELECT_NIDX"/>
    FROM <include refid="FROM_NIDX"/>
    WHERE n.dataset_key=#{datasetKey} AND nm.name_id IS NULL
    <if test="types!=null">
      AND n.type IN <foreach item="t" collection="types" open="(" separator="," close=")">#{t}::NAMETYPE</foreach>
    </if>
    LIMIT #{limit}
  </select>

  <select id="processSector" parameterType="map" resultMap="nameResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE n.dataset_key = #{key.datasetKey} AND n.sector_key = #{key.id}
  </select>

  <delete id="deleteBySector" parameterType="map">
    DELETE FROM name
    WHERE dataset_key = #{key.datasetKey} AND sector_key=#{key.id}
  </delete>

  <update id="removeSectorKey" parameterType="map">
    UPDATE name SET sector_key = NULL
    WHERE dataset_key = #{key.datasetKey} AND sector_key = #{key.id}
  </update>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM name
    WHERE dataset_key = #{datasetKey}
  </delete>

  <select id="processDataset" parameterType="map" resultMap="nameResultMap" resultOrdered="true" fetchSize="5000" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT_NIDX"/>
    FROM <include refid="FROM_NIDX"/>
    WHERE n.dataset_key = #{datasetKey}
    ORDER BY rank, scientific_name
  </select>

  <delete id="deleteByTemp" parameterType="map">
    DELETE FROM name
    USING _tmp_nu tmp
    WHERE dataset_key=#{datasetKey} AND id = tmp.nid
  </delete>
</mapper>
