<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.NamesIndexMapper">

  <sql id="SELECT">
    id, canonical_id, <include refid="life.catalogue.db.mapper.NamesIndexMapper.COLS"/>, created, modified
  </sql>

  <sql id="COLS">
    scientific_name,
    authorship,
    rank,
    uninomial,
    genus,
    infrageneric_epithet,
    specific_epithet,
    infraspecific_epithet,
    cultivar_epithet,
    basionym_authors,
    basionym_ex_authors,
    basionym_year,
    combination_authors,
    combination_ex_authors,
    combination_year,
    sanctioning_author
  </sql>

  <sql id="PROPS">
    #{scientificName},
    #{authorship},
    #{rank}::RANK,
    #{uninomial},
    #{genus},
    #{infragenericEpithet},
    #{specificEpithet},
    #{infraspecificEpithet},
    #{cultivarEpithet},
    #{basionymAuthorship.authors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{basionymAuthorship.exAuthors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{basionymAuthorship.year},
    #{combinationAuthorship.authors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{combinationAuthorship.exAuthors, typeHandler=life.catalogue.db.type.StringArrayTypeHandler},
    #{combinationAuthorship.year},
    #{sanctioningAuthor}
  </sql>

  <sql id="FROM">names_index n</sql>

  <!-- A mapping to Name, mostly auto mapped -->
  <resultMap id="nameResultMap" type="IndexName" autoMapping="true">
    <id property="key" column="id"/>
    <association property="combinationAuthorship" javaType="Authorship">
      <result property="authors" column="combination_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="exAuthors" column="combination_ex_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="year" column="combination_year"/>
    </association>
    <association property="basionymAuthorship" javaType="Authorship">
      <result property="authors" column="basionym_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="exAuthors" column="basionym_ex_authors" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
      <result property="year" column="basionym_year"/>
    </association>
  </resultMap>

  <resultMap id="simpleNameResultMap" type="SimpleName" autoMapping="false">
    <id property="id" column="ids"/>
    <result property="name" column="scientific_name"/>
    <result property="authorship" column="authorship"/>
    <result property="rank" column="rank" />
  </resultMap>

  <select id="get" resultMap="nameResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE id = #{key}
  </select>

  <insert id="create" parameterType="IndexName" useGeneratedKeys="true" keyProperty="key">
    INSERT INTO names_index (canonical_id, <include refid="COLS"/>, created, modified)
    VALUES (coalesce(#{canonicalId}, currval('names_index_id_seq')), <include refid="PROPS"/>, now(), now())
  </insert>

  <update id="update" parameterType="IndexName" keyProperty="key">
    UPDATE names_index
    SET (canonical_id, <include refid="COLS"/>, created, modified) =
        (#{canonicalId}, <include refid="PROPS"/>, now(), now())
    WHERE id = #{key}
  </update>

  <delete id="delete" parameterType="map">
    DELETE FROM names_index
    WHERE id = #{key}
  </delete>

  <select id="processAll" parameterType="map" resultMap="nameResultMap" resultOrdered="true" fetchSize="2500" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
  </select>

  <select id="count" parameterType="map" resultType="integer">
    SELECT count(*) FROM names_index
  </select>

  <update id="truncate">
    TRUNCATE names_index RESTART IDENTITY CASCADE
  </update>

  <update id="updateSequence">
    SELECT setval('names_index_id_seq', (SELECT COALESCE(max(id),1) FROM names_index))
  </update>

  <select id="listByRegex" parameterType="map" resultMap="nameResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE scientific_name ~ '^${regex}'
    <if test="rank != null">
      AND rank = #{rank}::RANK
    </if>
    <if test="canonical">
      AND id = canonical_id
    </if>
    ORDER BY scientific_name, id
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

  <select id="processDatasets" parameterType="map" resultMap="simpleNameResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT n.scientific_name, n.authorship, n.rank, jsonb_object_agg(u.dataset_key, u.id) as ids
    FROM names_index n JOIN name_match nm ON n.id=nm.index_id JOIN name_usage u ON u.dataset_key = nm.dataset_key AND u.name_id = nm.name_id
    WHERE nm.dataset_key IN <foreach item="key" collection="datasetKeys" open="(" separator="," close=")">#{key}</foreach>
    GROUP BY n.scientific_name, n.authorship, n.rank
    ORDER BY n.scientific_name, n.authorship, n.rank
  </select>

</mapper>
