<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.NameRelationMapper">

  <sql id="SELECT">
    nr.id,
    nr.verbatim_key,
    nr.dataset_key,
    nr.type,
    nr.name_id,
    nr.related_name_id,
    nr.published_in_id,
    nr.remarks,
    nr.created,
    nr.created_by,
    nr.modified,
    nr.modified_by
  </sql>

  <sql id="COLS">
    dataset_key,
    name_id,
    related_name_id,
    <include refid="COLS_COPY"/>
  </sql>

  <sql id="COLS_COPY">
    verbatim_key,
    type,
    published_in_id,
    remarks,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{datasetKey},
    #{nameId},
    #{relatedNameId},
    #{verbatimKey},
    #{type}::NOMRELTYPE,
    #{publishedInId},
    #{remarks},
    #{createdBy},
    #{modifiedBy}
  </sql>

  <sql id="FROM">
    name_rel_${partition} nr
  </sql>

  <resultMap id="nameRelResultMap" type="NameRelation" autoMapping="true">
    <id property="id" column="id"/>
  </resultMap>

  <select id="list" resultMap="nameRelResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE nr.name_id = #{nameId} OR nr.related_name_id = #{nameId}
    ORDER BY nr.id
  </select>

  <select id="processDataset" parameterType="map" resultMap="nameRelResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
  </select>

  <select id="listByType" resultMap="nameRelResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT
    <include refid="SELECT"/>
    FROM name_rel_${partition} nr
    WHERE nr.dataset_key = #{datasetKey}
    AND nr.type=#{type}::NOMRELTYPE
    AND nr.name_id = #{nameId}
    ORDER BY nr.id
  </select>

  <insert id="create" parameterType="NameRelation" useGeneratedKeys="true" keyProperty="id">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    INSERT INTO name_rel_${partition} (<include refid="COLS"/>, created, modified )
    VALUES (<include refid="PROPS"/>, now(), now() )
  </insert>

  <insert id="copyDataset" parameterType="map">
    INSERT INTO name_rel_${newDatasetKey} (dataset_key,name_id,related_name_id,<include refid="COLS_COPY"/>, created, modified)
    SELECT #{newDatasetKey},coalesce(<if test="mapIds">m1.id2,</if>name_id),coalesce(<if test="mapIds">m2.id2,</if>related_name_id),<include refid="COLS_COPY"/>, created, modified
    FROM name_rel_${datasetKey} r
    <if test="mapIds">
      LEFT JOIN idmap_name_${datasetKey} m1 ON m1.id=r.name_id
      LEFT JOIN idmap_name_${datasetKey} m2 ON m2.id=r.related_name_id
    </if>
  </insert>

</mapper>
