<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.NameUsageWrapperMapper">

  <resultMap id="issueResultMap" type="NameUsageWrapper" autoMapping="true">
    <result property="issues" column="issues" typeHandler="life.catalogue.db.type.IssueSetTypeHandler"/>
  </resultMap>


  <resultMap id="usageResultMap" type="NameUsageWrapper" autoMapping="true" extends="issueResultMap">
    <id column="uid"/>
    <association property="usage">
      <discriminator column="is_synonym" javaType="boolean">
        <case value="false" resultType="Taxon" resultMap="life.catalogue.db.mapper.TaxonMapper.taxonResultMap"/>
        <case value="true" resultType="Synonym" resultMap="life.catalogue.db.mapper.SynonymMapper.synonymResultMap"/>
      </discriminator>
    </association>
    <collection property="decisions" ofType="SimpleDecision" autoMapping="true" columnPrefix="ed_" notNullColumn="id">
      <id property="id" column="id"/>
      <id property="datasetKey" column="dataset_key"/>
    </collection>
  </resultMap>

  <resultMap id="classificationResultMap" type="SimpleNameClassification">
    <id property="id" column="uid"/>
    <result property="classification" column="classification" typeHandler="life.catalogue.db.type2.SimpleNameArrayTypeHandler"/>
  </resultMap>

  <resultMap id="taxonGetClassificationResultMap" type="NameUsageWrapper" autoMapping="true" extends="usageResultMap">
    <collection property="classification" ofType="SimpleName" column="{key.id=id,key.datasetKey=dataset_key}" autoMapping="true"
                select="life.catalogue.db.mapper.TaxonMapper.classificationSimple"/>
  </resultMap>

  <resultMap id="bareNameResultMap" type="NameUsageWrapper" autoMapping="true" extends="issueResultMap">
    <id column="n_id"/>
    <association property="usage" javaType="BareName">
      <id column="n_id"/>
      <association property="name" javaType="Name" resultMap="life.catalogue.db.mapper.NameMapper.nameResultMap" columnPrefix="n_"/>
    </association>
  </resultMap>

  <sql id="taxonSelectFrom">
    <include refid="life.catalogue.db.mapper.NameUsageMapper.SELECT"/>,
    d.gbif_publisher_key AS publisherKey,
    s.subject_dataset_key AS sectorDatasetKey,
    ed.id AS ed_id, ed.dataset_key AS ed_dataset_key, ed.mode AS ed_mode,
    array_distinct(vbn.issues || vbt.issues || tcrel.issues || sirel.issues || xdis.issues || xmed.issues || xver.issues || xtyp.issues || nrel.issues) AS issues
    FROM
    <include refid="life.catalogue.db.mapper.NameUsageMapper.FROM"/>
    JOIN dataset d ON d.key=u.dataset_key
    LEFT JOIN sector s ON s.dataset_key=u.dataset_key AND s.id=u.sector_key
    LEFT JOIN decision ed ON ed.subject_dataset_key=#{datasetKey} AND ed.subject_id=u.id
    LEFT JOIN verbatim vbt ON vbt.id=u.verbatim_key AND vbt.dataset_key=#{datasetKey}
    LEFT JOIN verbatim vbn ON vbn.id=n.verbatim_key AND vbn.dataset_key=#{datasetKey}
    LEFT JOIN (
      SELECT taxon_id, array_agg(v.issues) AS issues
      FROM taxon_concept_rel x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.taxon_id
    ) tcrel ON tcrel.taxon_id=u.id
    LEFT JOIN (
      SELECT taxon_id, array_agg(v.issues) AS issues
      FROM species_interaction x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.taxon_id
    ) sirel ON sirel.taxon_id=u.id
    LEFT JOIN (
      SELECT taxon_id, array_agg(v.issues) AS issues
      FROM distribution x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.taxon_id
    ) xdis ON xdis.taxon_id=u.id
    LEFT JOIN (
      SELECT taxon_id, array_agg(v.issues) AS issues
      FROM media x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.taxon_id
    ) xmed ON xmed.taxon_id=u.id
    LEFT JOIN (
      SELECT taxon_id, array_agg(v.issues) AS issues
      FROM vernacular_name x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.taxon_id
    ) xver ON xver.taxon_id=u.id
    LEFT JOIN (
      SELECT name_id, array_agg(v.issues) AS issues
      FROM type_material x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.name_id
    ) xtyp ON xtyp.name_id=u.name_id
    LEFT JOIN (
      SELECT name_id, array_agg(v.issues) AS issues
      FROM name_rel x JOIN verbatim v ON x.verbatim_key=v.id AND v.dataset_key=#{datasetKey}
      WHERE x.dataset_key=#{datasetKey} AND array_length(v.issues, 1) > 0
      GROUP BY x.name_id
    ) nrel ON nrel.name_id=u.name_id
  </sql>

  <sql id="bareNameSelectFrom">
    v.issues,
    <include refid="life.catalogue.db.mapper.NameMapper.nameCols">
      <property name="alias" value="n"/>
      <property name="prefix" value="n_"/>
    </include>
    FROM name n
    LEFT JOIN name_usage u ON n.id = u.name_id AND u.dataset_key=#{datasetKey}
    LEFT JOIN verbatim v ON v.id= n.verbatim_key AND v.dataset_key=#{datasetKey}
    WHERE n.dataset_key=#{datasetKey}
      AND u.id IS NULL
  </sql>

  <select id="processTree" parameterType="map" resultMap="classificationResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    WITH RECURSIVE tree AS (
      SELECT #{usageId} AS uid, classification_sn(#{datasetKey}, #{usageId}, true) AS classification
    UNION ALL
      SELECT u.id, array_append(tree.classification, (u.id,n.rank,n.scientific_name,n.authorship)::simple_name)
      FROM name_usage u
        JOIN name n ON u.name_id=n.id AND n.dataset_key=#{datasetKey}
        JOIN tree ON (tree.uid = u.parent_id)
      WHERE u.dataset_key=#{datasetKey}
      <if test="sectorKey != null">
        AND u.sector_key = #{sectorKey}
      </if>
    )
    SELECT * FROM tree
    <if test="sectorKey != null">
      WHERE uid != #{usageId} OR (SELECT sector_key=#{sectorKey} FROM name_usage WHERE dataset_key=#{datasetKey} AND id=#{usageId})
    </if>
  </select>

  <select id="processDatasetBareNames" parameterType="map" resultMap="bareNameResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT
    <include refid="bareNameSelectFrom"/>
    <if test="sectorKey != null">
      AND n.sector_key = #{sectorKey}
    </if>
  </select>

  <select id="getBareName" parameterType="map" resultMap="bareNameResultMap">
    SELECT
    <include refid="bareNameSelectFrom"/>
    AND n.id = #{id}
  </select>

  <select id="get" parameterType="map" resultMap="taxonGetClassificationResultMap">
    WITH nu AS (
      SELECT u.id, u.name_id, u.verbatim_key AS uvkey, n.verbatim_key AS nvkey
      FROM name_usage u JOIN name n ON u.name_id=n.id AND n.dataset_key=u.dataset_key
      WHERE u.dataset_key=#{datasetKey} AND u.id = #{id}
    ), nuissues AS (
      SELECT vs.id, array_cat_agg(vs.issues) AS issues
      FROM (
      <include refid="life.catalogue.db.mapper.VerbatimRecordMapper.usageIssues"/>
      ) vs
      GROUP BY vs.id
    )

    SELECT u.id AS uid,
      <include refid="life.catalogue.db.mapper.NameUsageMapper.SELECT"/>,
      d.gbif_publisher_key AS publisherKey,
      s.subject_dataset_key AS sectorDatasetKey,
      ed.id AS ed_id, ed.dataset_key AS ed_dataset_key, ed.mode AS ed_mode,
      v.issues
    FROM <include refid="life.catalogue.db.mapper.NameUsageMapper.FROM"/>
      JOIN dataset d ON d.key=u.dataset_key
      LEFT JOIN nuissues v ON v.id=u.id
      LEFT JOIN sector s ON s.dataset_key=u.dataset_key AND s.id=u.sector_key
      LEFT JOIN decision ed ON ed.subject_dataset_key=#{datasetKey} AND ed.subject_id=u.id
    WHERE u.dataset_key=#{datasetKey} AND u.id = #{id}
  </select>

  <select id="processWithoutClassification" parameterType="map" resultMap="usageResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    SELECT u.id AS uid, NULL AS classification,
      <include refid="life.catalogue.db.mapper.NameUsageMapper.SELECT_BASE" />,
      r.citation AS according_to,
      v.issues,
      ed.id AS ed_id, ed.dataset_key AS ed_dataset_key, ed.mode AS ed_mode
    FROM <include refid="life.catalogue.db.mapper.NameUsageMapper.FROM_NO_ACCEPTED"/>
      LEFT JOIN tmp_usage_issues v ON v.id=u.id
      LEFT JOIN decision ed ON ed.subject_dataset_key=#{datasetKey} AND ed.subject_id=u.id
    WHERE u.dataset_key=#{datasetKey}
    <if test="sectorKey != null">
      AND u.sector_key = #{sectorKey}
    </if>
    ORDER BY is_synonym(u.status), u.id
  </select>

</mapper>
