<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.PersonMapper">

  <sql id="PERSON_COLS">
    p.id, p.wikidata, p.ipni, p.zoobank, p.former_ids, p.family, p.given, p.suffix, p.born, p.died, p.active_from,
    p.active_to, p.groups, p.source, p.retired, p.successor, p.created, p.modified
  </sql>

  <resultMap id="personResultMap" type="life.catalogue.db.mapper.PersonMapper$PersonRow" autoMapping="true">
    <result property="formerIds" column="former_ids" typeHandler="life.catalogue.db.type.StringArrayTypeHandler"/>
    <result property="groups" column="groups" typeHandler="life.catalogue.db.type2.TaxGroupSetTypeHandler"/>
  </resultMap>

  <select id="list" resultMap="personResultMap">
    SELECT <include refid="PERSON_COLS"/>
    FROM person p
    ORDER BY p.id
  </select>

  <select id="listNames" resultType="life.catalogue.db.mapper.PersonMapper$NameRow">
    SELECT person_id, form, kind, code, source
    FROM person_name
    WHERE kind != 'DERIVED'
    ORDER BY person_id, kind, code, form
  </select>

  <select id="listRelations" resultType="life.catalogue.db.mapper.PersonMapper$RelationRow">
    SELECT person_id, relation, other_id, source
    FROM person_relation
    ORDER BY person_id, relation, other_id
  </select>
  <sql id="CODES">
    code IN ('ANY', <choose><when test="zoo">'ZOO'</when><otherwise>'BOT'</otherwise></choose>)
  </sql>

  <select id="getByAnyIds" resultMap="personResultMap">
    SELECT i.any_id, <include refid="PERSON_COLS"/>
    FROM person_id i JOIN person p ON p.id = i.person_id
    WHERE i.any_id IN <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
  </select>

  <select id="idsByKeys" resultType="life.catalogue.db.mapper.PersonMapper$KeyId">
    SELECT DISTINCT key, person_id
    FROM person_name
    WHERE key IN <foreach collection="keys" item="k" open="(" separator="," close=")">#{k}</foreach>
      AND <include refid="CODES"/>
    ORDER BY key, person_id
  </select>

  <select id="keys" resultType="string">
    SELECT DISTINCT key
    FROM person_name
    WHERE person_id = #{id} AND key IS NOT NULL AND <include refid="CODES"/>
  </select>

  <select id="relatives" resultType="string">
    SELECT other_id FROM person_relation WHERE person_id = #{id}
    UNION
    SELECT person_id FROM person_relation WHERE other_id = #{id}
  </select>

  <select id="names" resultType="life.catalogue.db.mapper.PersonMapper$NameRow">
    SELECT person_id, form, kind, code, source
    FROM person_name
    WHERE person_id = #{id} AND kind != 'DERIVED'
    ORDER BY kind, code, form
  </select>

  <select id="relations" resultType="life.catalogue.db.mapper.PersonMapper$RelationRow">
    SELECT person_id, relation, other_id, source
    FROM person_relation
    WHERE person_id = #{id} OR other_id = #{id}
    ORDER BY person_id, relation, other_id
  </select>
</mapper>
