<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.ProjectSourceMapper">

  <sql id="SELECT">
    <include refid="life.catalogue.db.mapper.DatasetArchiveMapper.SELECT"/>
  </sql>

  <sql id="COLS">
    <include refid="life.catalogue.db.mapper.DatasetArchiveMapper.COLS"/>
  </sql>

  <sql id="PROPS">
    <include refid="life.catalogue.db.mapper.DatasetArchiveMapper.PROPS"/>
  </sql>

  <sql id="FROM">
    project_source d LEFT JOIN dataset_import di ON d.import_attempt=di.attempt AND d.key=di.dataset_key
  </sql>


  <resultMap id="datasetProjectResultMap" type="ProjectSourceDataset" autoMapping="true" extends="life.catalogue.db.mapper.DatasetArchiveMapper.archiveResultMap">
    <id property="key" column="key"/>
  </resultMap>


  <select id="processDataset" parameterType="map" resultMap="datasetProjectResultMap" resultOrdered="true" fetchSize="100" resultSetType="FORWARD_ONLY">
    WITH src AS (
      SELECT s.subject_dataset_key AS key, max(s.dataset_import_attempt) AS attempt, d.import_attempt AS curr_attempt
      FROM sector s
        JOIN dataset d ON d.key=s.subject_dataset_key
      WHERE s.dataset_key=#{datasetKey}
      GROUP BY s.subject_dataset_key, d.import_attempt
    )
    <!-- current dataset metadata -->
    SELECT #{datasetKey} AS dataset_key, <include refid="SELECT"/>
    FROM src, <include refid="life.catalogue.db.mapper.DatasetMapper.FROM"/>
    WHERE src.key=d.key AND src.attempt=src.curr_attempt

    UNION

    <!-- archived dataset metadata for the source (dataset_key IS NULL), not a project -->
    SELECT #{datasetKey} AS dataset_key, <include refid="SELECT"/>
    FROM src, <include refid="FROM"/>
    WHERE d.key=src.key AND d.dataset_key IS NULL AND d.import_attempt=src.attempt AND src.attempt!=src.curr_attempt
  </select>

  <select id="get" resultMap="datasetProjectResultMap">
    SELECT d.dataset_key, <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.key = #{key} AND d.dataset_key = #{datasetKey}
  </select>

  <insert id="create" parameterType="ProjectSourceDataset">
    INSERT INTO project_source (key, dataset_key, import_attempt, <include refid="COLS"/>, source_key, origin,  created, modified)
    VALUES (#{key}, #{datasetKey}, #{importAttempt}, <include refid="PROPS"/>, #{sourceKey}, #{origin}::DATASETORIGIN, now(), now())
  </insert>

  <delete id="deleteByDataset" parameterType="map">
    DELETE FROM project_source WHERE dataset_key = #{datasetKey};
  </delete>

</mapper>
