<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.ProjectSourceMapper">

  <sql id="SELECT">
    <include refid="life.catalogue.db.mapper.DatasetArchiveMapper.SELECT"/>
  </sql>

  <sql id="COLS">
    <include refid="life.catalogue.db.mapper.DatasetArchiveMapper.COLS"/>
  </sql>

  <sql id="PROPS">
    <include refid="life.catalogue.db.mapper.DatasetArchiveMapper.PROPS"/>
  </sql>

  <sql id="FROM">
    project_source d LEFT JOIN dataset_import di ON d.import_attempt=di.attempt AND d.key=di.dataset_key
  </sql>

  <resultMap id="projectSourceResultMap" type="ArchivedDataset" extends="life.catalogue.db.mapper.DatasetArchiveMapper.archiveResultMap">
    <result property="importAttempt" column="attempt"/>
  </resultMap>

  <select id="listProjectSources" parameterType="map" resultMap="projectSourceResultMap" resultOrdered="true" fetchSize="100" resultSetType="FORWARD_ONLY">
    WITH src AS (
      SELECT s.subject_dataset_key AS key, max(s.dataset_import_attempt) AS attempt
      FROM sector s
      WHERE s.dataset_key=#{datasetKey}
      GROUP BY s.subject_dataset_key
    )
    <!-- archived dataset metadata -->
    SELECT <include refid="SELECT"/>
    FROM src
      JOIN dataset d2 ON d2.key = src.key
      LEFT JOIN dataset_archive d ON d.key = src.key AND d.import_attempt = src.attempt
      LEFT JOIN dataset_import di ON di.dataset_key = d.key AND di.attempt = d.import_attempt
    WHERE src.attempt != d2.import_attempt

    UNION

    <!-- latest dataset metadata -->
    SELECT <include refid="SELECT"/>
    FROM src
      JOIN dataset d ON d.key = src.key
      LEFT JOIN dataset_import di ON di.dataset_key = d.key AND di.attempt = d.import_attempt
    WHERE src.attempt = d.import_attempt OR src.attempt IS NULL

    ORDER BY 1
  </select>

  <select id="listReleaseSources" parameterType="map" resultMap="life.catalogue.db.mapper.DatasetArchiveMapper.archiveResultMap" resultOrdered="true" fetchSize="100" resultSetType="FORWARD_ONLY">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.dataset_key = #{datasetKey}
  </select>

  <select id="get" resultMap="life.catalogue.db.mapper.DatasetArchiveMapper.archiveResultMap">
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE d.key = #{key} AND d.dataset_key = #{datasetKey}
  </select>

  <insert id="createInternal" parameterType="life.catalogue.db.mapper.ProjectSourceMapper$DatasetWithProjectKey">
    INSERT INTO project_source (key, dataset_key, import_attempt, <include refid="COLS"/>, source_key, origin,  created, modified)
    VALUES (#{key}, #{datasetKey}, #{importAttempt}, <include refid="PROPS"/>, #{sourceKey}, #{origin}::DATASETORIGIN, now(), now())
  </insert>

  <delete id="deleteByProject" parameterType="map">
    DELETE FROM project_source WHERE dataset_key = #{datasetKey};
  </delete>

</mapper>
