<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.TreatmentMapper">

  <sql id="SELECT">
    id,
    dataset_key,
    verbatim_key,
    format,
    document,
    created,
    created_by,
    modified,
    modified_by
  </sql>

  <sql id="COLS">
    dataset_key,
    <include refid="COLS_COPY"/>
  </sql>

  <sql id="COLS_COPY">
    id,
    verbatim_key,
    format,
    document,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{obj.datasetKey},
    #{obj.id},
    #{obj.verbatimKey},
    #{obj.format}::TREATMENTFORMAT,
    #{obj.document},
    #{obj.createdBy},
    #{obj.modifiedBy}
  </sql>

  <sql id="FROM">treatment_${partition} t</sql>

  <resultMap id="treatmentResultMap" type="Treatment" autoMapping="true">
    <id property="id" column="id"/>
  </resultMap>

  <select id="get" resultMap="treatmentResultMap">
    <include refid="life.catalogue.db.Common.partitionByKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE t.id = #{key.id}
  </select>

  <insert id="create" parameterType="Distribution" useGeneratedKeys="true" keyProperty="obj.id">
    <include refid="life.catalogue.db.Common.partitionByObj"/>
    INSERT INTO treatment_${partition} (<include refid="COLS"/>, created, modified )
    VALUES (<include refid="PROPS"/>, now(), now() )
  </insert>

  <insert id="copyDataset" parameterType="map">
    INSERT INTO treatment_${newDatasetKey} (dataset_key,<include refid="COLS_COPY"/>, created, modified)
    SELECT #{newDatasetKey},<include refid="COLS_COPY"/>, created, modified
    FROM treatment_${datasetKey}
  </insert>

</mapper>
