<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.UserMapper">

    <sql id="SELECT">
      <include refid="SELECT_PUBLIC"/>,
      email,
      roles,
      settings,
      datasets,
      last_login,
      created,
      deleted
    </sql>

    <sql id="SELECT_PUBLIC">
      key,
      username,
      firstname,
      lastname,
      orcid,
      country
    </sql>

    <sql id="COLS">
      username,
      firstname,
      lastname,
      email,
      orcid,
      country,
      roles,
      settings,
      datasets,
      last_login,
      deleted
    </sql>

    <sql id="PROPS">
      #{username},
      #{firstname},
      #{lastname},
      #{email},
      #{orcid},
      #{country},
      #{roles, typeHandler=life.catalogue.db.type.RoleSetTypeHandler},
      #{settings, typeHandler=life.catalogue.db.type2.HstoreMapTypeHandler}::hstore,
      #{datasets, typeHandler=life.catalogue.db.type2.IntSetTypeHandler},
      #{lastLogin},
      #{deleted}
    </sql>

    <sql id="FROM">
        coluser
    </sql>

    <resultMap id="userResultMap" type="ColUser" autoMapping="true">
        <id property="key" column="key" />
        <result property="roles" column="roles" typeHandler="life.catalogue.db.type.RoleSetTypeHandler"/>
        <result property="settings" column="settings" typeHandler="life.catalogue.db.type2.HstoreMapTypeHandler"/>
        <result property="datasets" column="datasets" typeHandler="life.catalogue.db.type2.IntSetTypeHandler"/>
    </resultMap>


    <select id="get" resultMap="userResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE key = #{key}
    </select>

    <select id="getPublic" resultMap="userResultMap">
      SELECT <include refid="SELECT_PUBLIC" />
      FROM <include refid="FROM" />
      WHERE key = #{key}
    </select>

    <select id="getByUsername" resultMap="userResultMap">
        SELECT <include refid="SELECT" />
        FROM <include refid="FROM" />
        WHERE username = #{username}
    </select>

  <select id="datasetEditors" resultMap="userResultMap">
    SELECT <include refid="SELECT_PUBLIC" />
    FROM <include refid="FROM" />
    WHERE deleted IS NULL AND datasets @> ARRAY[#{datasetKey}::int]
  </select>

    <insert id="create" parameterType="ColUser" useGeneratedKeys="true" keyProperty="key">
      INSERT INTO coluser (<include refid="COLS" />)
             VALUES (<include refid="PROPS" />)
    </insert>

    <update id="update" parameterType="ColUser">
        UPDATE coluser
        SET (<include refid="COLS" />) = (<include refid="PROPS" />)
        WHERE key = #{key}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM coluser
        WHERE key = #{key}
    </delete>

</mapper>
