<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.catalogue.db.mapper.VernacularNameMapper">

  <sql id="SELECT">
    vn.id,
    vn.taxon_id,
    vn.dataset_key,
    vn.verbatim_key,
    vn.name,
    vn.latin,
    vn.language,
    vn.country,
    vn.area,
    vn.sex,
    vn.reference_id,
    vn.created,
    vn.created_by,
    vn.modified,
    vn.modified_by
  </sql>

  <sql id="COLS">
    dataset_key,
    sector_key,
    taxon_id,
    <include refid="COLS_COPY"/>
  </sql>

  <sql id="COLS_COPY">
    verbatim_key,
    name,
    latin,
    language,
    country,
    area,
    sex,
    reference_id,
    created_by,
    modified_by
  </sql>

  <sql id="PROPS">
    #{obj.datasetKey},
    #{obj.sectorKey},
    #{taxonId},
    #{obj.verbatimKey},
    #{obj.name},
    #{obj.latin},
    #{obj.language},
    #{obj.country},
    #{obj.area},
    #{obj.sex},
    #{obj.referenceId},
    #{obj.createdBy},
    #{obj.modifiedBy}
  </sql>

  <sql id="FROM">vernacular_name_${partition} vn</sql>

  <sql id="SEARCH_WHERE">
    <if test="req != null">
      <if test="req.sectorDatasetKey != null">
        JOIN sector s ON s.id=vn.sector_key
      </if>
      <where>
        <if test="req.q != null">
          vn.doc @@ to_tsquery('${req.q}')
        </if>
        <if test="req.language != null">
          AND vn.language = #{req.language}
        </if>
        <if test="req.sectorKey != null">
          AND vn.sector_key = #{req.sectorKey}
        </if>
        <if test="req.sectorDatasetKey != null">
          AND s.subject_dataset_key = #{req.sectorDatasetKey}
        </if>
      </where>
    </if>
  </sql>

  <resultMap id="vernacularNameResultMap" type="VernacularName" autoMapping="true">
    <id property="id" column="id"/>
  </resultMap>

  <resultMap id="vernacularNameUsageResultMap" type="VernacularNameUsage" autoMapping="true">
    <id property="id" column="id"/>
    <result property="taxonID" column="taxon_id"/>
  </resultMap>

  <resultMap id="vernacularExtNameResultMap" type="TaxonExtension" autoMapping="true">
    <id column="id"/>
    <result property="taxonID" column="taxon_id"/>
    <association property="obj" autoMapping="true" javaType="VernacularName">
      <id property="id" column="id"/>
    </association>
  </resultMap>

  <select id="listByTaxon" resultMap="vernacularNameResultMap">
    <include refid="life.catalogue.db.Common.partitionByKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE vn.taxon_id = #{key.id}
    ORDER BY name
  </select>

  <select id="get" resultMap="vernacularNameResultMap">
    <include refid="life.catalogue.db.Common.partitionByKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE vn.id = #{key.id}
  </select>

  <select id="searchAll" resultMap="vernacularNameUsageResultMap">
    SELECT <include refid="SELECT"/>
    FROM vernacular_name vn
    <where>
      <if test="q != null">
        vn.doc @@ to_tsquery('${q}')
      </if>
      <if test="lang != null">
        AND vn.language = #{lang}
      </if>
    </where>
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

  <select id="search" resultMap="vernacularNameUsageResultMap">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    <include refid="SEARCH_WHERE"/>
    ORDER BY name
    <include refid="life.catalogue.db.Common.limit"/>
  </select>

  <select id="count" resultType="integer">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT count(*)
    FROM <include refid="FROM"/>
    <include refid="SEARCH_WHERE"/>
  </select>

  <select id="processDataset" parameterType="map" resultMap="vernacularExtNameResultMap" resultOrdered="true" fetchSize="10000" resultSetType="FORWARD_ONLY">
    <include refid="life.catalogue.db.Common.partitionByDatasetKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
  </select>

  <insert id="create" parameterType="VernacularName" useGeneratedKeys="true" keyProperty="obj.id">
    <include refid="life.catalogue.db.Common.partitionByObj"/>
    INSERT INTO vernacular_name_${partition} (<include refid="COLS"/>, created, modified)
    VALUES (<include refid="PROPS"/>, now(), now())
  </insert>

  <insert id="copyDataset" parameterType="map">
    INSERT INTO vernacular_name_${newDatasetKey} (dataset_key,taxon_id,<include refid="COLS_COPY"/>, created, modified)
    SELECT #{newDatasetKey},coalesce(<if test="mapIds">m.id2,</if>taxon_id),<include refid="COLS_COPY"/>, created, modified
    FROM vernacular_name_${datasetKey} v
    <if test="mapIds">
      LEFT JOIN idmap_name_usage_${datasetKey} m ON m.id=v.taxon_id
    </if>
  </insert>

  <select id="processSector" parameterType="map" resultMap="vernacularNameResultMap" resultOrdered="true" fetchSize="1000" resultSetType="FORWARD_ONLY">
    <include refid="life.catalogue.db.Common.partitionByKey"/>
    SELECT <include refid="SELECT"/>
    FROM <include refid="FROM"/>
    WHERE vn.sector_key = #{key.id}
  </select>

  <delete id="deleteBySector" parameterType="map">
    <include refid="life.catalogue.db.Common.partitionByKey"/>
    DELETE FROM vernacular_name_${partition}
    WHERE sector_key=#{key.id} AND dataset_key=#{key.datasetKey}
  </delete>

  <update id="removeSectorKey" parameterType="map">
    <include refid="life.catalogue.db.Common.partitionByKey"/>
    UPDATE vernacular_name_${partition} SET sector_key = NULL
    WHERE sector_key = #{key.id}
  </update>

</mapper>
