<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--

    WARNING!!!

    This mybatis config file is not used by the code!
    We only use it to configure the IntelliJ free mybatis plugin so its aware of the aliases
    which are otherwise setup via code in the MybatisFactory.
    -->
    <typeAliases>
        <package name="org.col.api.model" />
        <package name="org.gbif.nameparser.api" />
    </typeAliases>
</configuration>