<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- Always good to have it in here for debugging -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

    <logger name="org.apache.http" level="INFO"/>
    <logger name="life.catalogue" level="INFO"/>
    <logger name="life.catalogue.admin" level="DEBUG"/>
    <logger name="life.catalogue.csv" level="DEBUG"/>
    <logger name="life.catalogue.common.io" level="DEBUG"/>

    <!--
    <logger name="life.catalogue.db.mapper" level="DEBUG"/>
    -->
    <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
